{{ 'complaints-sec2.css' | asset_url | stylesheet_tag }}

<div class="complaint-sec2-container">
  <div class="complaints-sec2-inner-container">
    <div class="inner-box-left">
      <h2 class="custom-border">{{ section.settings.complaint-sec2-text-header }}</h2>
      <p>
        {{ section.settings.complaint-sec2-text-body }}
      </p>
    </div>
    <div class="inner-box-right">
      {% if section.settings.image-1 != blank %}
        <img
          class="inner-box-right-img1"
          src="{{ section.settings.image-1 | img_url }}"
          alt="" />
      {% else %}
        <img class="inner-box-right-img1" src="{{ 'comp-sec2-img1.png' | asset_url }}">
      {% endif %}
      {% if section.settings.image-2 != blank %}
        <img
          class="inner-box-right-img2"
          src="{{ section.settings.image-2 | img_url }}"
          alt="" />
      {% else %}
        <img class="inner-box-right-img2" src="{{ 'comp-sec2-img2.png' | asset_url }}">
      {% endif %}
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "complaints-sec2",
    "settings": [
      {
        "type": "text",
        "id": "complaint-sec2-text-header",
        "label": "Enter Heading",
        "default": "Bespoke Wedding Flowers"
      }, {
        "type": "text",
        "id": "complaint-sec2-text-body",
        "label": "Enter Body Text",
        "default": "We have been creating bespoke floral arrangemens for couples across the country sice 2022. Whetheryou’re planning a low-key ceremony or something grander, our team will help you navigate the world of wedding flowers and find what’s perfeect for you."
      }, {
        "type": "image_picker",
        "id": "image-1",
        "label": "Select Image 1"
      }, {
        "type": "image_picker",
        "id": "image-2",
        "label": "Select Image 2"
      }
    ]
  }
{% endschema %}