{{ 'corporate-section7-frequency.css' | asset_url | stylesheet_tag }}

<h2 class="freq-header">{{ section.settings.corp-sec7-title }}</h2>

<div class="freq-container">
  <div class="frequency-box">

    {% if section.settings.freq-img-1 != blank %}
      <img
        class="freq-svg"
        src="{{ section.settings.freq-img-1 | img_url }}"
        alt="">
    {% else %}
      <svg
        class="freq-svg"
        width="106"
        height="103"
        viewBox="0 0 106 103"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M87.3068 15.2932L87.6604 14.9396V14.9396L87.3068 15.2932ZM71.475 4.71468L71.6663 4.25274L71.475 4.71468ZM34.125 4.71468L33.9337 4.25274L34.125 4.71468ZM7.71468 31.1251L7.25274 30.9337L7.71468 31.1251ZM3.64645 50.1536C3.84171 50.3488 4.15829 50.3488 4.35355 50.1536L7.53553 46.9716C7.7308 46.7763 7.7308 46.4597 7.53553 46.2645C7.34027 46.0692 7.02369 46.0692 6.82843 46.2645L4 49.0929L1.17157 46.2645C0.976311 46.0692 0.659728 46.0692 0.464466 46.2645C0.269204 46.4597 0.269204 46.7763 0.464466 46.9716L3.64645 50.1536ZM102.1 49.8C102.1 43.3258 100.825 36.9151 98.3473 30.9337L97.4234 31.3164C99.8507 37.1764 101.1 43.4572 101.1 49.8H102.1ZM98.3473 30.9337C95.8697 24.9524 92.2383 19.5176 87.6604 14.9396L86.9533 15.6467C91.4383 20.1318 94.9961 25.4564 97.4234 31.3164L98.3473 30.9337ZM87.6604 14.9396C83.0824 10.3617 77.6476 6.7303 71.6663 4.25274L71.2836 5.17662C77.1436 7.60392 82.4682 11.1617 86.9533 15.6467L87.6604 14.9396ZM71.6663 4.25274C65.6849 1.77518 59.2742 0.5 52.8 0.5V1.5C59.1428 1.5 65.4236 2.74932 71.2836 5.17662L71.6663 4.25274ZM52.8 0.5C46.3258 0.5 39.9151 1.77518 33.9337 4.25274L34.3164 5.17662C40.1764 2.74932 46.4572 1.5 52.8 1.5V0.5ZM33.9337 4.25274C27.9524 6.7303 22.5176 10.3617 17.9396 14.9396L18.6467 15.6467C23.1318 11.1617 28.4564 7.60392 34.3164 5.17662L33.9337 4.25274ZM17.9396 14.9396C13.3617 19.5176 9.73029 24.9524 7.25274 30.9337L8.17662 31.3164C10.6039 25.4564 14.1617 20.1318 18.6467 15.6467L17.9396 14.9396ZM7.25274 30.9337C4.77518 36.9151 3.5 43.3258 3.5 49.8H4.5C4.5 43.4572 5.74932 37.1764 8.17662 31.3164L7.25274 30.9337Z" fill="#2D2D2D" />
        <path d="M18.2947 87.5066L17.9412 87.8602V87.8602L18.2947 87.5066ZM34.1266 98.0851L33.9353 98.5471L34.1266 98.0851ZM71.4765 98.0851L71.6679 98.5471L71.4765 98.0851ZM97.8869 71.6748L98.3488 71.8661L97.8869 71.6748ZM101.955 52.6462C101.76 52.451 101.443 52.451 101.248 52.6462L98.066 55.8282C97.8708 56.0235 97.8708 56.3401 98.066 56.5353C98.2613 56.7306 98.5779 56.7306 98.7731 56.5353L101.602 53.7069L104.43 56.5353C104.625 56.7306 104.942 56.7306 105.137 56.5353C105.332 56.3401 105.332 56.0235 105.137 55.8282L101.955 52.6462ZM3.50156 52.9998C3.50156 59.474 4.77674 65.8847 7.2543 71.8661L8.17818 71.4834C5.75088 65.6234 4.50156 59.3426 4.50156 52.9998H3.50156ZM7.2543 71.8661C9.73186 77.8474 13.3633 83.2822 17.9412 87.8602L18.6483 87.1531C14.1632 82.668 10.6055 77.3434 8.17818 71.4834L7.2543 71.8661ZM17.9412 87.8602C22.5191 92.4381 27.9539 96.0695 33.9353 98.5471L34.318 97.6232C28.4579 95.1959 23.1334 91.6381 18.6483 87.1531L17.9412 87.8602ZM33.9353 98.5471C39.9166 101.025 46.3274 102.3 52.8016 102.3V101.3C46.4587 101.3 40.178 100.05 34.318 97.6232L33.9353 98.5471ZM52.8016 102.3C59.2757 102.3 65.6865 101.025 71.6679 98.5471L71.2852 97.6232C65.4251 100.05 59.1444 101.3 52.8016 101.3V102.3ZM71.6679 98.5471C77.6492 96.0695 83.084 92.4381 87.6619 87.8602L86.9548 87.1531C82.4698 91.6381 77.1452 95.1959 71.2852 97.6232L71.6679 98.5471ZM87.6619 87.8602C92.2399 83.2822 95.8713 77.8474 98.3488 71.8661L97.4249 71.4834C94.9976 77.3434 91.4399 82.668 86.9548 87.1531L87.6619 87.8602ZM98.3488 71.8661C100.826 65.8847 102.102 59.474 102.102 52.9998H101.102C101.102 59.3426 99.8522 65.6234 97.4249 71.4834L98.3488 71.8661Z" fill="#2D2D2D" />
        <circle
          cx="52.8"
          cy="51.8"
          r="39.8"
          fill="#2D2D2D" />
        <path d="M39.272 61.384C38.8027 61.384 38.4827 61.2133 38.312 60.872C38.1413 60.5093 38.056 60.008 38.056 59.368C38.056 56.4453 39.24 52.968 41.608 48.936C42.1627 47.9973 42.8773 46.824 43.752 45.416C44.6267 43.9867 45.3413 42.92 45.896 42.216H37.704C36.9787 42.216 36.4773 42.3227 36.2 42.536C35.9227 42.7493 35.6453 43.176 35.368 43.816L35.144 44.36H34.28L34.856 39.88H47.432V41.896C46.792 42.7067 46.0453 43.8053 45.192 45.192C44.3387 46.5787 43.624 47.7947 43.048 48.84C42.28 50.248 41.704 51.5387 41.32 52.712C40.9573 53.864 40.7333 54.9307 40.648 55.912C40.5627 56.872 40.5093 58.0667 40.488 59.496C40.488 60.0933 40.4027 60.5627 40.232 60.904C40.0613 61.224 39.7413 61.384 39.272 61.384ZM51.0398 60.136C51.8504 60.136 52.4158 60.0933 52.7358 60.008C53.0558 59.9227 53.2584 59.7627 53.3438 59.528C53.4291 59.272 53.4718 58.8133 53.4718 58.152V42.728C53.4718 42.088 53.4291 41.6507 53.3438 41.416C53.2584 41.16 53.0558 40.9893 52.7358 40.904C52.4158 40.7973 51.8504 40.744 51.0398 40.744V39.88H60.1918C63.3704 39.9227 65.8558 40.8293 67.6478 42.6C69.4398 44.3707 70.3358 46.856 70.3358 50.056C70.3358 52.3387 69.8984 54.3013 69.0238 55.944C68.1704 57.5867 66.9331 58.8453 65.3118 59.72C63.7118 60.5733 61.8024 61 59.5838 61H51.0398V60.136ZM59.0078 60.04C61.5464 60.04 63.5944 59.304 65.1518 57.832C66.7304 56.3387 67.5198 53.7893 67.5198 50.184C67.5198 47.3893 66.8691 45.16 65.5678 43.496C64.2878 41.8107 62.2184 40.936 59.3598 40.872C58.2078 40.872 57.3971 40.9147 56.9278 41C56.4798 41.064 56.1811 41.2133 56.0318 41.448C55.9038 41.6827 55.8398 42.0987 55.8398 42.696V57.192C55.8398 58.0027 55.9464 58.6107 56.1598 59.016C56.3944 59.4213 56.7251 59.6987 57.1518 59.848C57.5998 59.976 58.2184 60.04 59.0078 60.04Z" fill="white" />
      </svg>
    {% endif %}


    <h2 class="freq-title">{{ section.settings.freq-title-1 }}</h2>
    <p class="freq-text">{{ section.settings.freq-text-1-line-1 }} <br> {{ section.settings.freq-text-1-line-2 }}</p>
  </div>
  <div class="frequency-box">
    {% if section.settings.freq-img-2 != blank %}
      <img
        class="freq-svg"
        src="{{ section.settings.freq-img-2 | img_url }}"
        alt="">
    {% else %}
      <svg
        class="freq-svg"
        width="106"
        height="103"
        viewBox="0 0 106 103"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M87.3068 15.2932L87.6604 14.9396V14.9396L87.3068 15.2932ZM71.475 4.71468L71.6663 4.25274L71.475 4.71468ZM34.125 4.71468L33.9337 4.25274L34.125 4.71468ZM7.71468 31.1251L7.25274 30.9337L7.71468 31.1251ZM3.64645 50.1536C3.84171 50.3488 4.15829 50.3488 4.35355 50.1536L7.53553 46.9716C7.7308 46.7763 7.7308 46.4597 7.53553 46.2645C7.34027 46.0692 7.02369 46.0692 6.82843 46.2645L4 49.0929L1.17157 46.2645C0.976311 46.0692 0.659728 46.0692 0.464466 46.2645C0.269204 46.4597 0.269204 46.7763 0.464466 46.9716L3.64645 50.1536ZM102.1 49.8C102.1 43.3258 100.825 36.9151 98.3473 30.9337L97.4234 31.3164C99.8507 37.1764 101.1 43.4572 101.1 49.8H102.1ZM98.3473 30.9337C95.8697 24.9524 92.2383 19.5176 87.6604 14.9396L86.9533 15.6467C91.4383 20.1318 94.9961 25.4564 97.4234 31.3164L98.3473 30.9337ZM87.6604 14.9396C83.0824 10.3617 77.6476 6.7303 71.6663 4.25274L71.2836 5.17662C77.1436 7.60392 82.4682 11.1617 86.9533 15.6467L87.6604 14.9396ZM71.6663 4.25274C65.6849 1.77518 59.2742 0.5 52.8 0.5V1.5C59.1428 1.5 65.4236 2.74932 71.2836 5.17662L71.6663 4.25274ZM52.8 0.5C46.3258 0.5 39.9151 1.77518 33.9337 4.25274L34.3164 5.17662C40.1764 2.74932 46.4572 1.5 52.8 1.5V0.5ZM33.9337 4.25274C27.9524 6.7303 22.5176 10.3617 17.9396 14.9396L18.6467 15.6467C23.1318 11.1617 28.4564 7.60392 34.3164 5.17662L33.9337 4.25274ZM17.9396 14.9396C13.3617 19.5176 9.73029 24.9524 7.25274 30.9337L8.17662 31.3164C10.6039 25.4564 14.1617 20.1318 18.6467 15.6467L17.9396 14.9396ZM7.25274 30.9337C4.77518 36.9151 3.5 43.3258 3.5 49.8H4.5C4.5 43.4572 5.74932 37.1764 8.17662 31.3164L7.25274 30.9337Z" fill="#2D2D2D" />
        <path d="M18.2947 87.5066L17.9412 87.8602V87.8602L18.2947 87.5066ZM34.1266 98.0851L33.9353 98.5471L34.1266 98.0851ZM71.4765 98.0851L71.6679 98.5471L71.4765 98.0851ZM97.8869 71.6748L98.3488 71.8661L97.8869 71.6748ZM101.955 52.6462C101.76 52.451 101.443 52.451 101.248 52.6462L98.066 55.8282C97.8708 56.0235 97.8708 56.3401 98.066 56.5353C98.2613 56.7306 98.5779 56.7306 98.7731 56.5353L101.602 53.7069L104.43 56.5353C104.625 56.7306 104.942 56.7306 105.137 56.5353C105.332 56.3401 105.332 56.0235 105.137 55.8282L101.955 52.6462ZM3.50156 52.9998C3.50156 59.474 4.77674 65.8847 7.2543 71.8661L8.17818 71.4834C5.75088 65.6234 4.50156 59.3426 4.50156 52.9998H3.50156ZM7.2543 71.8661C9.73186 77.8474 13.3633 83.2822 17.9412 87.8602L18.6483 87.1531C14.1632 82.668 10.6055 77.3434 8.17818 71.4834L7.2543 71.8661ZM17.9412 87.8602C22.5191 92.4381 27.9539 96.0695 33.9353 98.5471L34.318 97.6232C28.4579 95.1959 23.1334 91.6381 18.6483 87.1531L17.9412 87.8602ZM33.9353 98.5471C39.9166 101.025 46.3274 102.3 52.8016 102.3V101.3C46.4587 101.3 40.178 100.05 34.318 97.6232L33.9353 98.5471ZM52.8016 102.3C59.2757 102.3 65.6865 101.025 71.6679 98.5471L71.2852 97.6232C65.4251 100.05 59.1444 101.3 52.8016 101.3V102.3ZM71.6679 98.5471C77.6492 96.0695 83.084 92.4381 87.6619 87.8602L86.9548 87.1531C82.4698 91.6381 77.1452 95.1959 71.2852 97.6232L71.6679 98.5471ZM87.6619 87.8602C92.2399 83.2822 95.8713 77.8474 98.3488 71.8661L97.4249 71.4834C94.9976 77.3434 91.4399 82.668 86.9548 87.1531L87.6619 87.8602ZM98.3488 71.8661C100.826 65.8847 102.102 59.474 102.102 52.9998H101.102C101.102 59.3426 99.8522 65.6234 97.4249 71.4834L98.3488 71.8661Z" fill="#2D2D2D" />
        <circle
          cx="52.8"
          cy="51.8"
          r="39.8"
          fill="#2D2D2D" />
        <path d="M28.52 60.136H29.992C30.8027 60.136 31.336 60.04 31.592 59.848C31.848 59.6347 31.976 59.208 31.976 58.568V42.12C30.632 42.8453 29.1067 43.56 27.4 44.264V43.208C28.2747 42.7813 29.2133 42.2267 30.216 41.544C31.24 40.8613 31.9867 40.3067 32.456 39.88H34.28V58.568C34.28 59.208 34.408 59.6347 34.664 59.848C34.9413 60.04 35.4747 60.136 36.264 60.136H37.736V61H28.52V60.136ZM47.4643 60.136H48.8403C49.2669 60.136 49.5443 60.04 49.6723 59.848C49.8216 59.656 49.8963 59.336 49.8963 58.888V54.952H40.7763V53.32C43.7629 48.6907 46.9949 44.1253 50.4723 39.624H52.1363V53.16H55.1123V54.952H52.1363V58.888C52.1363 59.3573 52.1896 59.688 52.2963 59.88C52.4243 60.0507 52.7016 60.136 53.1283 60.136H54.2483V61H47.4643V60.136ZM49.8963 53.16V42.28H49.8003C47.4536 45.3093 44.8829 48.936 42.0883 53.16H49.8963ZM58.1023 60.136C58.9129 60.136 59.4783 60.0933 59.7983 60.008C60.1183 59.9227 60.3209 59.7627 60.4062 59.528C60.4916 59.272 60.5343 58.8133 60.5343 58.152V42.728C60.5343 42.088 60.4916 41.6507 60.4062 41.416C60.3209 41.16 60.1183 40.9893 59.7983 40.904C59.4783 40.7973 58.9129 40.744 58.1023 40.744V39.88H67.2543C70.4329 39.9227 72.9183 40.8293 74.7103 42.6C76.5023 44.3707 77.3983 46.856 77.3983 50.056C77.3983 52.3387 76.9609 54.3013 76.0863 55.944C75.2329 57.5867 73.9956 58.8453 72.3743 59.72C70.7743 60.5733 68.8649 61 66.6463 61H58.1023V60.136ZM66.0703 60.04C68.6089 60.04 70.6569 59.304 72.2143 57.832C73.7929 56.3387 74.5823 53.7893 74.5823 50.184C74.5823 47.3893 73.9316 45.16 72.6303 43.496C71.3503 41.8107 69.2809 40.936 66.4223 40.872C65.2703 40.872 64.4596 40.9147 63.9903 41C63.5423 41.064 63.2436 41.2133 63.0943 41.448C62.9663 41.6827 62.9023 42.0987 62.9023 42.696V57.192C62.9023 58.0027 63.0089 58.6107 63.2223 59.016C63.4569 59.4213 63.7876 59.6987 64.2143 59.848C64.6623 59.976 65.2809 60.04 66.0703 60.04Z" fill="white" />
      </svg>
    {% endif %}

    <h2 class="freq-title">{{ section.settings.freq-title-2 }}</h2>
    <p class="freq-text">
      {{ section.settings.freq-text-2-line-1 }} <br> {{ section.settings.freq-text-2-line-2 }}
    </p>
  </div>
  <div class="frequency-box">

    {% if section.settings.freq-img-3 != blank %}
      <img
        class="freq-svg"
        src="{{ section.settings.freq-img-3 | img_url }}"
        alt="">
    {% else %}
      <svg
        class="freq-svg"
        width="106"
        height="102"
        viewBox="0 0 106 102"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M71.7515 4.71468L71.9422 4.25246L71.7515 4.71468ZM34.2485 4.71468L34.0578 4.25246L34.2485 4.71468ZM18.3518 15.2932L17.9989 14.9389L18.3518 15.2932ZM7.7299 31.1251L7.26824 30.933L7.7299 31.1251ZM3.64645 50.1536C3.84171 50.3488 4.15829 50.3488 4.35355 50.1536L7.53553 46.9716C7.7308 46.7763 7.7308 46.4597 7.53553 46.2645C7.34027 46.0692 7.02369 46.0692 6.82843 46.2645L4 49.0929L1.17157 46.2645C0.976311 46.0692 0.659728 46.0692 0.464466 46.2645C0.269204 46.4597 0.269204 46.7763 0.464466 46.9716L3.64645 50.1536ZM102.5 49.8C102.5 43.3255 101.22 36.9145 98.7318 30.933L97.8084 31.3171C100.246 37.1769 101.5 43.4574 101.5 49.8H102.5ZM98.7318 30.933C96.244 24.9515 92.5977 19.5167 88.0011 14.9389L87.2954 15.6475C91.799 20.1326 95.3713 25.4572 97.8084 31.3171L98.7318 30.933ZM88.0011 14.9389C83.4045 10.3611 77.9476 6.72986 71.9422 4.25246L71.5608 5.17689C77.4453 7.60436 82.7919 11.1623 87.2954 15.6475L88.0011 14.9389ZM71.9422 4.25246C65.9367 1.77507 59.5002 0.5 53 0.5V1.5C59.3694 1.5 65.6764 2.74943 71.5608 5.17689L71.9422 4.25246ZM53 0.5C46.4999 0.5 40.0633 1.77507 34.0578 4.25246L34.4392 5.1769C40.3236 2.74943 46.6306 1.5 53 1.5V0.5ZM34.0578 4.25246C28.0524 6.72986 22.5955 10.3611 17.9989 14.9389L18.7046 15.6475C23.2081 11.1623 28.5547 7.60436 34.4392 5.1769L34.0578 4.25246ZM17.9989 14.9389C13.4023 19.5168 9.75601 24.9515 7.26824 30.933L8.19156 31.3171C10.6288 25.4572 14.2011 20.1326 18.7046 15.6475L17.9989 14.9389ZM7.26824 30.933C4.78047 36.9145 3.5 43.3256 3.5 49.8H4.5C4.5 43.4574 5.75438 37.1769 8.19156 31.3171L7.26824 30.933Z" fill="#2D2D2D" />
        <path d="M7.7299 71.3688L7.26938 71.5635L7.7299 71.3688ZM18.3518 86.9411L18.7017 86.5839L18.3518 86.9411ZM98.2701 71.3688L98.7306 71.5635H98.7306L98.2701 71.3688ZM102.354 52.6464C102.158 52.4512 101.842 52.4512 101.646 52.6464L98.4645 55.8284C98.2692 56.0237 98.2692 56.3403 98.4645 56.5355C98.6597 56.7308 98.9763 56.7308 99.1716 56.5355L102 53.7071L104.828 56.5355C105.024 56.7308 105.34 56.7308 105.536 56.5355C105.731 56.3403 105.731 56.0237 105.536 55.8284L102.354 52.6464ZM3.5 53C3.5 59.3706 4.78093 65.6785 7.26938 71.5635L8.19043 71.1741C5.75392 65.4119 4.5 59.2363 4.5 53H3.5ZM7.26938 71.5635C9.75782 77.4486 13.4049 82.7951 18.0019 87.2983L18.7017 86.5839C14.1985 82.1727 10.6269 76.9363 8.19043 71.1741L7.26938 71.5635ZM18.0019 87.2983C22.5988 91.8014 28.0556 95.373 34.0605 97.8095L34.4365 96.8829C28.5515 94.495 23.2048 90.9952 18.7017 86.5839L18.0019 87.2983ZM34.0605 97.8095C40.0654 100.246 46.501 101.5 53 101.5V100.5C46.6295 100.5 40.3216 99.2708 34.4365 96.8829L34.0605 97.8095ZM53 101.5C59.499 101.5 65.9346 100.246 71.9395 97.8095L71.5635 96.8829C65.6784 99.2708 59.3705 100.5 53 100.5V101.5ZM71.9395 97.8095C77.9444 95.373 83.4012 91.8014 87.9981 87.2983L87.2983 86.5839C82.7952 90.9952 77.4485 94.495 71.5635 96.8829L71.9395 97.8095ZM87.9981 87.2983C92.5951 82.7951 96.2422 77.4486 98.7306 71.5635L97.8096 71.1741C95.3731 76.9363 91.8015 82.1727 87.2983 86.5839L87.9981 87.2983ZM98.7306 71.5635C101.219 65.6785 102.5 59.3706 102.5 53H101.5C101.5 59.2363 100.246 65.4119 97.8096 71.1741L98.7306 71.5635Z" fill="#2D2D2D" />
        <circle
          cx="53"
          cy="51"
          r="40"
          fill="#2D2D2D" />
        <path d="M25.6 60.744C25.6 59.4853 26.0587 58.1947 26.976 56.872C27.8933 55.5493 29.3013 54.056 31.2 52.392C31.3493 52.264 31.904 51.784 32.864 50.952C33.824 50.12 34.5707 49.1813 35.104 48.136C35.6373 47.0907 35.904 45.992 35.904 44.84C35.904 43.4107 35.5413 42.312 34.816 41.544C34.112 40.776 33.1093 40.392 31.808 40.392C30.9333 40.392 30.1973 40.5733 29.6 40.936C29.024 41.2987 28.736 41.736 28.736 42.248C28.736 42.376 28.768 42.504 28.832 42.632C28.896 42.7387 28.9707 42.8453 29.056 42.952C29.312 43.2507 29.44 43.5493 29.44 43.848C29.44 44.3813 29.3013 44.7867 29.024 45.064C28.7467 45.32 28.3627 45.448 27.872 45.448C27.36 45.448 26.9547 45.2987 26.656 45C26.3573 44.68 26.208 44.2107 26.208 43.592C26.208 42.3333 26.7947 41.3413 27.968 40.616C29.1627 39.8693 30.5813 39.496 32.224 39.496C34.208 39.496 35.744 40.0187 36.832 41.064C37.92 42.088 38.464 43.4747 38.464 45.224C38.464 46.312 38.2613 47.2613 37.856 48.072C37.4507 48.8613 36.9173 49.544 36.256 50.12C35.5947 50.696 34.6667 51.4213 33.472 52.296C31.4027 53.832 29.9093 55.0693 28.992 56.008C28.0747 56.9467 27.616 57.8 27.616 58.568H34.72C35.5947 58.568 36.2667 58.4933 36.736 58.344C37.2053 58.1733 37.536 57.9493 37.728 57.672C37.92 57.3733 38.0693 56.9893 38.176 56.52H39.072L37.952 61H25.6V60.744ZM48.84 61.384C46.8773 61.384 45.3413 60.936 44.232 60.04C43.144 59.1227 42.6 57.8747 42.6 56.296C42.6 55.1013 42.9627 54.0133 43.688 53.032C44.4347 52.0293 45.6613 51.0693 47.368 50.152C45.9387 49.2773 44.9253 48.4133 44.328 47.56C43.7307 46.6853 43.432 45.736 43.432 44.712C43.432 43.5387 43.7413 42.568 44.36 41.8C44.9787 41.0107 45.7573 40.4347 46.696 40.072C47.656 39.688 48.648 39.496 49.672 39.496C51.1227 39.496 52.3813 39.8693 53.448 40.616C54.536 41.3413 55.08 42.4827 55.08 44.04C55.08 45.0853 54.7813 46.0773 54.184 47.016C53.608 47.9333 52.6587 48.808 51.336 49.64C52.872 50.5573 53.9813 51.464 54.664 52.36C55.3467 53.256 55.688 54.312 55.688 55.528C55.688 56.6373 55.4213 57.64 54.888 58.536C54.376 59.4107 53.608 60.104 52.584 60.616C51.56 61.128 50.312 61.384 48.84 61.384ZM50.536 49.128C51.624 48.4027 52.4133 47.656 52.904 46.888C53.416 46.12 53.672 45.2667 53.672 44.328C53.672 43.1547 53.3093 42.2053 52.584 41.48C51.8587 40.7547 50.856 40.392 49.576 40.392C48.4027 40.392 47.4107 40.712 46.6 41.352C45.8107 41.9707 45.416 42.8347 45.416 43.944C45.416 44.6053 45.5867 45.1813 45.928 45.672C46.2693 46.1627 46.76 46.6427 47.4 47.112C48.0613 47.5813 49.1067 48.2533 50.536 49.128ZM49 60.488C50.3653 60.488 51.4853 60.1253 52.36 59.4C53.256 58.6747 53.704 57.672 53.704 56.392C53.704 55.688 53.5333 55.08 53.192 54.568C52.8507 54.0347 52.296 53.4907 51.528 52.936C50.7813 52.36 49.6187 51.592 48.04 50.632C46.8453 51.336 45.8747 52.1573 45.128 53.096C44.3813 54.0347 44.008 55.08 44.008 56.232C44.008 57.512 44.4773 58.5467 45.416 59.336C46.376 60.104 47.5707 60.488 49 60.488ZM59.2898 60.136C60.1004 60.136 60.6658 60.0933 60.9858 60.008C61.3058 59.9227 61.5084 59.7627 61.5938 59.528C61.6791 59.272 61.7218 58.8133 61.7218 58.152V42.728C61.7218 42.088 61.6791 41.6507 61.5938 41.416C61.5084 41.16 61.3058 40.9893 60.9858 40.904C60.6658 40.7973 60.1004 40.744 59.2898 40.744V39.88H68.4418C71.6204 39.9227 74.1058 40.8293 75.8978 42.6C77.6898 44.3707 78.5858 46.856 78.5858 50.056C78.5858 52.3387 78.1484 54.3013 77.2738 55.944C76.4204 57.5867 75.1831 58.8453 73.5618 59.72C71.9618 60.5733 70.0524 61 67.8338 61H59.2898V60.136ZM67.2578 60.04C69.7964 60.04 71.8444 59.304 73.4018 57.832C74.9804 56.3387 75.7698 53.7893 75.7698 50.184C75.7698 47.3893 75.1191 45.16 73.8178 43.496C72.5378 41.8107 70.4684 40.936 67.6098 40.872C66.4578 40.872 65.6471 40.9147 65.1778 41C64.7298 41.064 64.4311 41.2133 64.2818 41.448C64.1538 41.6827 64.0898 42.0987 64.0898 42.696V57.192C64.0898 58.0027 64.1964 58.6107 64.4098 59.016C64.6444 59.4213 64.9751 59.6987 65.4018 59.848C65.8498 59.976 66.4684 60.04 67.2578 60.04Z" fill="white" />
      </svg>
    {% endif %}

    <h2 class="freq-title">{{ section.settings.freq-title-3 }}</h2>
    <p class="freq-text">{{ section.settings.freq-text-3-line-1 }} <br> {{ section.settings.freq-text-3-line-2 }}
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "corp-sec7-freq",
    "settings": [
      {
        "type": "text",
        "id": "corp-sec7-title",
        "label": "Enter Title",
        "default": "Choose Frequency"
      },
      {
        "type": "image_picker",
        "id": "freq-img-1",
        "label": "Select You Image"
      },
      {
        "type": "text",
        "id": "freq-title-1",
        "label": "Enter Your Text",
        "default": "Weekly"
      },
      {
        "type": "text",
        "id": "freq-text-1-line-1",
        "label": "Enter You Text",
        "default": "You will receive your flowers every 7 days."
      }, {
        "type": "text",
        "id": "freq-text-1-line-2",
        "label": "Enter You Text",
        "default": "You will be charged £25 every 7 days."
      }, {
        "type": "image_picker",
        "id": "freq-img-2",
        "label": "Select You Image"
      }, {
        "type": "text",
        "id": "freq-title-2",
        "label": "Enter Your Text",
        "default": "Fortnightly"
      }, {
        "type": "text",
        "id": "freq-text-2-line-1",
        "label": "Enter You Text",
        "default": "You will receive your flowers every 14 days."
      }, {
        "type": "text",
        "id": "freq-text-2-line-2",
        "label": "Enter You Text",
        "default": "You will be charged £25 every 14 days."
      }, {
        "type": "image_picker",
        "id": "freq-img-3",
        "label": "Select You Image"
      }, {
        "type": "text",
        "id": "freq-title-3",
        "label": "Enter Your Text",
        "default": "Monthly"
      }, {
        "type": "text",
        "id": "freq-text-3-line-1",
        "label": "Enter You Text",
        "default": "You will receive your flowers every 28 days."
      }, {
        "type": "text",
        "id": "freq-text-3-line-2",
        "label": "Enter You Text",
        "default": "You will be charged £25 every 28 days."
      }

    ]
  }
{% endschema %}