{{ 'home-section1.css' | asset_url | stylesheet_tag }}
<div class="home-sec1">
  <div class="home-left">
    <h2>{{ section.settings.home_section1_title }}</h2>
    <h6>What makes Flower Station different is that everything we do has the personal touch. From bouquets to gifts, we’ll help you show that you care.</h6>
    <div class="home-flex">
      <div class="home-reviewrating">
        <div class="home-rating">
          <h3>{{ section.settings.home_section1_rating }}</h3>
          <svg
            viewBox="0 0 107 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H19.9712V20H0V0ZM21.6354 0H41.6066V20H21.6354V0ZM43.2709 0H63.242V20H43.2709V0ZM64.9063 0H84.8775V20H64.9063V0ZM86.5417 0H106.513V20H86.5417V0Z" fill="#68C110" />
            <path d="M9.98503 13.4792L13.0223 12.7083L14.2913 16.625L9.98503 13.4792ZM16.9749 8.41667H11.6285L9.98503 3.375L8.34156 8.41667H2.99512L7.3222 11.5417L5.67874 16.5833L10.0058 13.4583L12.6687 11.5417L16.9749 8.41667ZM31.6205 13.4792L34.6577 12.7083L35.9267 16.625L31.6205 13.4792ZM38.6104 8.41667H33.2639L31.6205 3.375L29.977 8.41667H24.6305L28.9576 11.5417L27.3142 16.5833L31.6413 13.4583L34.3041 11.5417L38.6104 8.41667ZM53.2559 13.4792L56.2932 12.7083L57.5622 16.625L53.2559 13.4792ZM60.2458 8.41667H54.8993L53.2559 3.375L51.6124 8.41667H46.266L50.5931 11.5417L48.9496 16.5833L53.2767 13.4583L55.9395 11.5417L60.2458 8.41667ZM74.8913 13.4792L77.9286 12.7083L79.1976 16.625L74.8913 13.4792ZM81.8812 8.41667H76.5348L74.8913 3.375L73.2479 8.41667H67.9014L72.2285 11.5417L70.585 16.5833L74.9121 13.4583L77.5749 11.5417L81.8812 8.41667ZM96.5267 13.4792L99.564 12.7083L100.833 16.625L96.5267 13.4792ZM103.517 8.41667H98.1702L96.5267 3.375L94.8833 8.41667H89.5368L93.8639 11.5417L92.2205 16.5833L96.5476 13.4583L99.2104 11.5417L103.517 8.41667Z" fill="white" />
          </svg>
        </div>
        <div class="home-reviews">
          <p>{{ section.settings.home_section1_reviews }}</p>
          <svg
            viewBox="0 0 81 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M21.1707 7.12866L29.3369 7.12866L29.3369 8.65806L26.1215 8.65806L26.1215 17.2795L24.3591 17.2795L24.3591 8.65806L21.1572 8.65805L21.1707 7.12866ZM28.9871 9.93029L30.4939 9.93029L30.4939 11.3514L30.5208 11.3514C30.5746 11.1484 30.6688 10.9589 30.8033 10.7694C30.9379 10.58 31.0993 10.404 31.3011 10.2551C31.4895 10.0927 31.7047 9.9709 31.9469 9.87616C32.1756 9.78142 32.4178 9.72728 32.6599 9.72728C32.8483 9.72728 32.9828 9.74081 33.0501 9.74081C33.1173 9.75435 33.1981 9.76788 33.2653 9.76788L33.2653 11.3243C33.1577 11.2973 33.0366 11.2837 32.9155 11.2702C32.7944 11.2567 32.6868 11.2431 32.5657 11.2431C32.2967 11.2431 32.0411 11.2973 31.7989 11.4056C31.5567 11.5138 31.3549 11.6762 31.1666 11.8793C30.9917 12.0958 30.8437 12.353 30.7361 12.6643C30.6284 12.9756 30.5746 13.341 30.5746 13.747L30.5746 17.2389L28.9602 17.2389L28.9871 9.93029ZM40.6647 17.2795L39.0772 17.2795L39.0772 16.2509L39.0503 16.2509C38.8485 16.6299 38.5525 16.9141 38.1624 17.1442C37.7722 17.3743 37.3686 17.4825 36.965 17.4825C36.0098 17.4825 35.3102 17.2524 34.8797 16.7652C34.4492 16.2915 34.234 15.5606 34.234 14.5997L34.234 9.93029L35.8484 9.93029L35.8484 14.4373C35.8484 15.0869 35.9695 15.5471 36.2251 15.8043C36.4672 16.0749 36.817 16.2103 37.261 16.2103C37.5973 16.2103 37.8798 16.1562 38.1086 16.0479C38.3373 15.9396 38.5256 15.8043 38.6601 15.6283C38.8081 15.4524 38.9023 15.2358 38.9696 14.9922C39.0368 14.7486 39.0637 14.4779 39.0637 14.1937L39.0637 9.9303L40.6782 9.9303L40.6782 17.2795L40.6647 17.2795ZM43.4092 14.9245C43.463 15.3982 43.6379 15.723 43.9473 15.9261C44.2568 16.1155 44.6335 16.2103 45.064 16.2103C45.212 16.2103 45.3869 16.1968 45.5752 16.1697C45.7636 16.1426 45.9519 16.102 46.1133 16.0343C46.2882 15.9667 46.4228 15.8719 46.5304 15.7366C46.638 15.6012 46.6918 15.4388 46.6784 15.2358C46.6649 15.0328 46.5977 14.8568 46.4497 14.7215C46.3017 14.5862 46.1268 14.4914 45.9115 14.3967C45.6963 14.3155 45.4407 14.2478 45.1582 14.1937C44.8756 14.1395 44.5931 14.0718 44.2971 14.0042C44.0012 13.9365 43.7052 13.8553 43.4227 13.7606C43.1401 13.6658 42.898 13.544 42.6693 13.368C42.454 13.2056 42.2657 13.0026 42.1446 12.7455C42.01 12.4883 41.9428 12.1906 41.9428 11.8116C41.9428 11.4056 42.037 11.0807 42.2388 10.81C42.4271 10.5393 42.6827 10.3228 42.9787 10.1604C43.2747 9.99797 43.611 9.87616 43.9743 9.80849C44.3375 9.74081 44.6873 9.71374 45.0102 9.71374C45.3869 9.71374 45.7501 9.75435 46.0864 9.83556C46.4228 9.91676 46.7457 10.0386 47.0147 10.2281C47.2972 10.404 47.526 10.6476 47.7009 10.9318C47.8892 11.2161 47.9968 11.568 48.0506 11.974L46.369 11.974C46.2882 11.5815 46.1133 11.3243 45.8443 11.189C45.5618 11.0537 45.2523 10.986 44.8891 10.986C44.7815 10.986 44.6335 10.9995 44.4855 11.0131C44.324 11.0401 44.1895 11.0672 44.0415 11.1213C43.907 11.1755 43.7859 11.2567 43.6917 11.3514C43.5976 11.4462 43.5437 11.5815 43.5437 11.7439C43.5437 11.9469 43.611 12.0958 43.7455 12.2176C43.8801 12.3394 44.055 12.4342 44.2837 12.5289C44.4989 12.6101 44.7546 12.6778 45.0371 12.7319C45.3196 12.7861 45.6156 12.8537 45.9115 12.9214C46.2075 12.9891 46.49 13.0703 46.7726 13.165C47.0551 13.2598 47.3107 13.3816 47.526 13.5575C47.7412 13.7199 47.9296 13.923 48.0641 14.1666C48.1986 14.4102 48.2659 14.7215 48.2659 15.0734C48.2659 15.5065 48.1717 15.8719 47.9699 16.1832C47.7681 16.481 47.5125 16.7381 47.2031 16.9276C46.8936 17.1171 46.5304 17.2524 46.1537 17.3472C45.7636 17.4284 45.3869 17.4825 45.0102 17.4825C44.5527 17.4825 44.1222 17.4284 43.7321 17.3201C43.3419 17.2118 42.9921 17.0494 42.7096 16.8464C42.4271 16.6299 42.1984 16.3727 42.037 16.0479C41.8755 15.7366 41.7813 15.3576 41.7679 14.911L43.3958 14.911L43.3958 14.9245L43.4092 14.9245ZM48.7233 9.9303L49.9476 9.9303L49.9476 7.71064L51.562 7.71065L51.562 9.91676L53.015 9.91676L53.015 11.1213L51.562 11.1213L51.562 15.0463C51.562 15.2223 51.5754 15.3576 51.5889 15.493C51.6023 15.6148 51.6427 15.723 51.6831 15.8043C51.7369 15.8855 51.8176 15.9531 51.9118 15.9937C52.0194 16.0343 52.1539 16.0614 52.3423 16.0614C52.4499 16.0614 52.571 16.0614 52.6786 16.0479C52.7862 16.0343 52.9073 16.0208 53.015 15.9937L53.015 17.2524C52.8401 17.2795 52.6652 17.293 52.4903 17.3066C52.3154 17.3336 52.1539 17.3336 51.9656 17.3336C51.5351 17.3336 51.1987 17.293 50.9431 17.2118C50.6875 17.1306 50.4857 17.0088 50.3377 16.8599C50.1897 16.6975 50.0956 16.508 50.0417 16.278C49.9879 16.0479 49.961 15.7636 49.9476 15.4659L49.9476 11.1349L48.7233 11.1349L48.7233 9.90323L48.7233 9.9303ZM54.145 9.9303L55.6653 9.9303L55.6653 10.9318L55.6922 10.9318C55.9209 10.4987 56.2303 10.201 56.6339 10.0115C57.0375 9.82202 57.468 9.72728 57.9524 9.72728C58.5309 9.72728 59.0286 9.82202 59.4592 10.0386C59.8897 10.2416 60.2395 10.5123 60.522 10.8777C60.8045 11.2296 61.0198 11.6492 61.1543 12.1229C61.2888 12.5966 61.3695 13.1109 61.3695 13.6387C61.3695 14.1395 61.3023 14.6132 61.1812 15.0734C61.0467 15.5336 60.8583 15.9531 60.6027 16.305C60.3471 16.6569 60.0242 16.9411 59.6206 17.1577C59.217 17.3743 58.7596 17.4825 58.2214 17.4825C57.9927 17.4825 57.7506 17.4555 57.5219 17.4149C57.2931 17.3743 57.0644 17.3066 56.8492 17.2118C56.6339 17.1171 56.4321 16.9953 56.2572 16.8464C56.0689 16.6975 55.9209 16.5216 55.7998 16.3321L55.7729 16.3321L55.7729 19.9999L54.1585 19.9999L54.1585 9.9303L54.145 9.9303ZM59.782 13.6117C59.782 13.2868 59.7417 12.962 59.6475 12.6507C59.5668 12.3394 59.4322 12.0687 59.2574 11.8251C59.0825 11.5815 58.8672 11.392 58.625 11.2431C58.3694 11.0943 58.0735 11.0266 57.7506 11.0266C57.0779 11.0266 56.5667 11.2567 56.2169 11.7304C55.8805 12.2041 55.7056 12.8402 55.7056 13.6252C55.7056 14.0042 55.746 14.3425 55.8402 14.6538C55.9344 14.9651 56.0554 15.2358 56.2438 15.4659C56.4187 15.696 56.6339 15.8719 56.8895 16.0073C57.1452 16.1426 57.4277 16.2103 57.764 16.2103C58.1407 16.2103 58.4367 16.1291 58.6923 15.9802C58.9479 15.8313 59.1497 15.6283 59.3246 15.3982C59.4861 15.1546 59.6071 14.8839 59.6744 14.5726C59.7417 14.2478 59.782 13.9365 59.782 13.6117ZM62.6207 7.12867L64.2351 7.12867L64.2351 8.65806L62.6207 8.65806L62.6207 7.12867ZM62.6207 9.9303L64.2351 9.9303L64.2351 17.2795L62.6207 17.2795L62.6207 9.9303ZM65.6746 7.12867L67.2891 7.12867L67.2891 17.2795L65.6746 17.2795L65.6746 7.12867ZM72.213 17.4825C71.6345 17.4825 71.1098 17.3878 70.6524 17.1848C70.195 16.9818 69.8183 16.7246 69.4954 16.3862C69.186 16.0479 68.9438 15.6283 68.7824 15.1546C68.6209 14.6809 68.5268 14.1531 68.5268 13.5981C68.5268 13.0432 68.6075 12.5289 68.7824 12.0552C68.9438 11.5815 69.186 11.1755 69.4954 10.8236C69.8048 10.4852 70.195 10.2145 70.6524 10.025C71.1098 9.83556 71.6345 9.72728 72.213 9.72728C72.7915 9.72728 73.3162 9.82202 73.7736 10.025C74.231 10.2145 74.6077 10.4852 74.9306 10.8236C75.24 11.1619 75.4822 11.5815 75.6436 12.0552C75.8051 12.5289 75.8992 13.0432 75.8992 13.5981C75.8992 14.1666 75.8185 14.6809 75.6436 15.1546C75.4687 15.6283 75.24 16.0343 74.9306 16.3862C74.6212 16.7246 74.231 16.9953 73.7736 17.1848C73.3162 17.3743 72.805 17.4825 72.213 17.4825ZM72.213 16.1968C72.5628 16.1968 72.8857 16.1155 73.1413 15.9667C73.4104 15.8178 73.6122 15.6148 73.7871 15.3712C73.962 15.1275 74.083 14.8433 74.1638 14.5456C74.2445 14.2343 74.2848 13.923 74.2848 13.5981C74.2848 13.2868 74.2445 12.9756 74.1638 12.6643C74.083 12.353 73.962 12.0823 73.7871 11.8387C73.6122 11.595 73.3969 11.4056 73.1413 11.2567C72.8722 11.1078 72.5628 11.0266 72.213 11.0266C71.8632 11.0266 71.5403 11.1078 71.2847 11.2567C71.0157 11.4056 70.8139 11.6086 70.639 11.8387C70.4641 12.0823 70.343 12.353 70.2623 12.6643C70.1815 12.9756 70.1412 13.2868 70.1412 13.5981C70.1412 13.923 70.1815 14.2343 70.2623 14.5456C70.343 14.8568 70.4641 15.1275 70.639 15.3712C70.8139 15.6148 71.0291 15.8178 71.2847 15.9667C71.5538 16.1291 71.8632 16.1968 72.213 16.1968ZM76.3836 9.9303L77.6078 9.9303L77.6078 7.71065L79.2223 7.71065L79.2223 9.91676L80.6752 9.91676L80.6752 11.1213L79.2223 11.1213L79.2223 15.0463C79.2223 15.2223 79.2357 15.3576 79.2492 15.493C79.2626 15.6148 79.303 15.723 79.3433 15.8043C79.3971 15.8855 79.4779 15.9531 79.572 15.9937C79.6797 16.0343 79.8142 16.0614 80.0025 16.0614C80.1102 16.0614 80.2313 16.0614 80.3389 16.0479C80.4465 16.0343 80.5676 16.0208 80.6752 15.9937L80.6752 17.2524C80.5003 17.2795 80.3254 17.293 80.1505 17.3066C79.9756 17.3337 79.8142 17.3337 79.6259 17.3337C79.1953 17.3337 78.859 17.293 78.6034 17.2118C78.3478 17.1306 78.146 17.0088 77.998 16.8599C77.85 16.6975 77.7558 16.508 77.702 16.278C77.6482 16.0479 77.6213 15.7637 77.6078 15.4659L77.6078 11.1349L76.3836 11.1349L76.3836 9.90323L76.3836 9.9303Z" fill="#2D2D2D" />
            <path d="M19.378 7.03738L11.9747 7.03738L9.69572 8.47627e-07L7.40327 7.03738L-6.14049e-07 7.0239L5.98734 11.3784L3.69489 18.4158L9.68223 14.0613L15.6696 18.4158L13.3906 11.3784L19.378 7.03738Z" fill="#00B67A" />
            <path d="M13.8419 13.0116L13.3361 11.4851L9.68945 14.0594L13.8419 13.0116Z" fill="#005128" />
          </svg>
        </div>
      </div>
      <button>{{ section.settings.home_section1_button }}</button>
    </div>
    <p>{{ section.settings.home_section1_delivery }}</p>
  </div>
  <div class="home-right">
    <div class="home-border">
      {% if section.settings.home_section1_image != blank %}
        <img src="{{ section.settings.home_section1_image | img_url: 'master' }}" alt="Round Banner Image">
      {% else %}
        <img src="{{ 'home-sec1.png' | asset_url}}" alt="Round Banner Image">
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Home Section 1",
    "settings": [
      {
        "type": "image_picker",
        "id": "home_section1_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "home_section1_title",
        "label": "Title",
        "default": "Say It With Flowers"
      },
      {
        "type": "text",
        "id": "home_section1_subtitle",
        "label": "Subtitle",
        "default": "What makes Flower Station different is that everything we do has the personal touch. From bouquets to gifts, we’ll help you show that you care."
      },
      {
        "type": "text",
        "id": "home_section1_reviews",
        "label": "Reviews",
        "default": "1,987 reviews on"
      }, {
        "type": "text",
        "id": "home_section1_rating",
        "label": "Rating",
        "default": "Great"
      }, {
        "type": "text",
        "id": "home_section1_button",
        "label": "Button",
        "default": "Shop Now"
      }, {
        "type": "text",
        "id": "home_section1_delivery",
        "label": "Delivery",
        "default": "Order by 6pm for same day London & 3pm for UK next day delivery"
      }
    ]
  }
{% endschema %}