{{ 'pay-sec2.css' | asset_url | stylesheet_tag }}

<div class="pay-sec2-container">

  <div class="pay-sec2-container-inner">
    <div class="pay-sec2-container-inner-left">
      <h2>{{ section.settings.pay-sec2-title }}</h2>
      <p class="pay-body-text">
        {{ section.settings.pay-sec2-para-1 }}
      </p>
      <p class="pay-body-text">
        {{ section.settings.pay-sec2-para-2 }}
      </p>
      <p class="pay-body-text">
        {{ section.settings.pay-sec2-para-3 }}
      </p>
      <p class="pay-body-text">
        {{ section.settings.pay-sec2-para-4 }}
      </p>
      <p class="pay-body-text">
        {{ section.settings.pay-sec2-para-5 }}
      </p>
      <p class="pay-body-text">
        {{ section.settings.pay-sec2-para-6 }}
      </p>

      <div class="pay-sec2-btns">
        <button class="call-now">
          {{ section.settings.pay-sec2-btn-1 }}
        </button>
        <button class="email-us">
          {{ section.settings.pay-sec2-btn-2 }}
        </button>
      </div>

    </div>
    <div class="pay-sec2-container-inner-right">
      {% if section.settings.pay-sec2-image != blank %}
        <img
          class="pay-sec2-svg"
          src="{{ section.settings.pay-sec2-image | img_url }}"
          alt="">
      {% else %}
        <svg
          class="pay-sec2-svg"
          width="596"
          height="433"
          viewBox="0 0 596 433"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M55.3836 388.143C55.3836 388.143 51.0093 384.046 53.9401 368.532C56.8855 353.017 64.3365 338.115 60.6766 321.274C57.0167 304.433 28.3356 261.987 28.2335 259.173C28.1315 256.344 19.3828 308.559 34.2118 329.119C49.0408 349.678 50.8343 356.823 50.1782 367.628C49.522 378.432 50.324 387.152 51.9571 389.66L55.3691 388.129L55.3836 388.143Z" fill="#4547EB" />
          <path d="M52.6745 356.939C50.9539 363.865 49.9041 381.216 52.6745 385.372C52.9369 385.765 53.3015 385.532 53.7681 384.818C52.9224 381.945 52.3829 376.915 53.9722 368.53C56.9176 353.016 64.3686 338.114 60.7087 321.273C57.0488 304.432 28.3677 261.986 28.2656 259.172C28.2656 259.172 32.5816 294.531 47.1482 318.882C57.5737 336.306 54.4242 350.012 52.6891 356.924L52.6745 356.939Z" fill="#120878" />
          <path d="M60.6248 387.064C60.6248 387.064 52.1968 366.023 66.4864 347.811C80.7613 329.599 103.61 306.197 104.062 296.938C104.062 296.938 109.938 340.929 91.3472 353.381C72.7563 365.833 59.7207 367.816 62.9431 386.991L60.6393 387.064H60.6248Z" fill="#4547EB" />
          <path d="M80.6903 344.545C59.9559 359.636 58.2644 377.017 61.4869 385.066C61.7348 385.693 62.2159 386.072 62.8283 386.276C60.0433 367.787 72.9768 365.673 91.3345 353.381C109.925 340.929 104.049 296.938 104.049 296.938C104.049 296.938 101.41 329.453 80.6757 344.545H80.6903Z" fill="#120878" />
          <path d="M46.7547 387.547C46.7547 387.547 49.4522 376.407 48.0233 364.378C46.5797 352.348 34.0254 345.583 22.2875 332.882C16.2509 326.35 14.4575 291.778 18.2048 288.57C18.2048 288.57 -2.515 313.694 0.678273 332.08C3.87155 350.467 37.6852 362.424 40.8202 371.304C43.9551 380.184 43.6927 387.649 43.6927 387.649L46.7693 387.547H46.7547Z" fill="#4547EB" />
          <path d="M11.1902 298.443C4.3371 316.99 11.3652 339.46 34.1118 353.414C50.8656 363.694 45.5289 385.055 45.5289 385.055L48.2701 376.627C48.518 372.982 48.5326 368.739 48.0222 364.364C46.5787 352.335 34.0243 345.569 22.2865 332.869C16.454 326.57 14.5877 294.2 17.8247 289.023C16.8769 290.219 14.194 293.689 11.1902 298.443Z" fill="#120878" />
          <path d="M17.8281 289.021C18.0614 288.73 18.2072 288.555 18.2072 288.555C18.076 288.671 17.9448 288.832 17.8281 289.021Z" fill="#49B4D6" />
          <path d="M64.9521 386.146C64.9521 386.146 69.8076 368.124 81.8225 365.689C93.8373 363.268 107.631 345.508 108.375 342.023C108.375 342.023 106.348 375.502 64.9375 386.131L64.9521 386.146Z" fill="#4547EB" />
          <path d="M81.1373 371.652C73.7739 375.327 70.7118 380.284 69.6328 384.775C106.494 372.921 108.39 342.023 108.39 342.023C108.244 342.709 107.573 343.977 106.523 345.552C102.907 351.88 94.1583 365.149 81.1519 371.652H81.1373Z" fill="#120878" />
          <path d="M90.9463 379.508H28.1016L35.5671 426.445C36.1358 430.002 39.1978 432.627 42.8139 432.627H76.2485C79.8501 432.627 82.9267 430.002 83.4954 426.445L90.9609 379.508H90.9463Z" fill="#EB9FA9" />
          <path d="M89.7069 387.28L90.9463 379.508H28.1016L29.341 387.28H89.7069Z" fill="#A54F5A" />
          <path d="M75.728 379.508L68.2625 426.445C67.6938 430.002 64.6318 432.627 61.0156 432.627H76.2384C79.8399 432.627 82.9165 430.002 83.4852 426.445L90.9507 379.508H75.728Z" fill="#A54F5A" />
          <path d="M338.345 325.75H325.266V432.732H338.345V325.75Z" fill="#2D2D2D" />
          <path d="M338.344 325.75H333.211V432.717H338.344V325.75Z" fill="#2D2D2D" />
          <path d="M369.374 423.953H297.882C295.462 423.953 293.508 425.907 293.508 428.327C293.508 430.748 295.462 432.702 297.882 432.702H369.374C371.794 432.702 373.748 430.748 373.748 428.327C373.748 425.907 371.794 423.953 369.374 423.953Z" fill="#2D2D2D" />
          <path d="M369.372 423.953H297.88C296.291 423.953 294.906 424.813 294.133 426.082H356.059C358.479 426.082 360.433 428.05 360.433 430.456C360.433 431.287 360.185 432.046 359.792 432.702H369.372C371.792 432.702 373.746 430.748 373.746 428.327C373.746 425.907 371.792 423.953 369.372 423.953Z" fill="#2D2D2D" />
          <path d="M338.345 325.75H325.266V335.271H338.345V325.75Z" fill="#2D2D2D" />
          <path d="M406.103 176.597C404.266 175.78 402.224 175.328 400.052 175.328H326.417C319.228 175.328 313.046 180.446 311.69 187.503L288.608 308.133C288.243 310.073 288.258 312.012 288.608 313.805C288.608 313.849 288.623 313.893 288.637 313.922H268.165C264.797 313.922 262.07 316.649 262.07 320.017C262.07 323.385 264.797 326.112 268.165 326.112H334.335V325.922H376.984C384.173 325.922 390.355 320.804 391.711 313.747L414.779 193.117C416.135 186.002 412.256 179.294 406.103 176.568V176.597Z" fill="#FF9933" />
          <path d="M414.781 193.145L391.728 313.775C390.387 320.833 384.204 325.951 377.001 325.951H334.351V326.14H268.196C264.828 326.14 262.102 323.413 262.102 320.045C262.102 316.677 264.828 313.95 268.196 313.95H288.668C288.668 313.95 288.639 313.863 288.639 313.819C288.814 313.834 289.018 313.834 289.208 313.834H362.828C372.714 313.834 381.244 306.806 383.096 297.094L406.134 176.625C412.287 179.337 416.151 186.044 414.81 193.16L414.781 193.145Z" fill="#2D2D2D" />
          <path d="M383.207 296.352L383.061 297.081C381.21 306.792 372.694 313.82 362.794 313.82H289.173C288.998 313.82 288.794 313.82 288.605 313.805C288.605 313.849 288.619 313.893 288.634 313.936H268.162C265.114 313.936 262.577 316.182 262.14 319.113V302.621C262.14 302.621 262.125 302.534 262.125 302.49C261.644 299.224 264.385 296.352 267.695 296.352H383.193H383.207Z" fill="white" />
          <path d="M406.107 176.598L383.068 297.067C381.217 306.778 372.687 313.821 362.815 313.821H289.18C288.991 313.821 288.801 313.821 288.612 313.821C288.262 312.013 288.247 310.088 288.612 308.149L311.694 187.519C313.05 180.447 319.232 175.344 326.421 175.344H400.055C402.228 175.344 404.269 175.796 406.107 176.612V176.598Z" fill="white" />
          <path d="M231.61 147.688H106.256C103.34 147.688 101.109 150.268 101.517 153.155L112.249 226.849C112.584 229.196 114.611 230.946 116.988 230.946H242.342C245.258 230.946 247.489 228.365 247.081 225.478L236.349 151.785C236.014 149.437 233.987 147.688 231.61 147.688Z" fill="#120878" />
          <path d="M214.069 147.688H106.256C103.34 147.688 101.109 150.268 101.517 153.155L106.256 185.73C117.819 190.789 130.913 193.662 144.823 193.662C180.766 193.662 201.952 174.561 214.069 147.688Z" fill="#4547EB" />
          <path d="M174.741 203.945H151.003C148.947 203.945 147.373 205.753 147.679 207.795L154.867 257.152C154.867 257.298 154.867 257.473 154.896 257.619L155.217 259.558C155.451 261.205 156.88 262.43 158.542 262.43H181.974L174.741 203.945Z" fill="#4547EB" />
          <path d="M209.402 258.973C209.373 257.121 207.857 255.619 206.005 255.619H188.056C185.416 255.619 183.171 253.665 182.806 251.04L177.543 212.59H180.663C182.704 212.59 184.279 210.767 183.988 208.74L183.667 206.787C183.433 205.139 182.004 203.914 180.342 203.914H174.116C171.273 203.914 169.086 206.422 169.465 209.236L176.026 258.141C176.347 260.576 178.432 262.399 180.896 262.399H206.005C207.901 262.399 209.432 260.853 209.402 258.943V258.973Z" fill="#1D54B5" />
          <path d="M196.499 220.3C196.499 221.54 195.493 222.546 194.253 222.546C193.014 222.546 192.008 221.54 192.008 220.3C192.008 219.061 193.014 218.055 194.253 218.055C195.493 218.055 196.499 219.061 196.499 220.3Z" fill="#4286E8" />
          <path d="M208.03 220.3C208.03 221.54 207.024 222.546 205.785 222.546C204.545 222.546 203.539 221.54 203.539 220.3C203.539 219.061 204.545 218.055 205.785 218.055C207.024 218.055 208.03 219.061 208.03 220.3Z" fill="#4286E8" />
          <path d="M215.91 222.546C217.15 222.546 218.155 221.54 218.155 220.3C218.155 219.06 217.15 218.055 215.91 218.055C214.669 218.055 213.664 219.06 213.664 220.3C213.664 221.54 214.669 222.546 215.91 222.546Z" fill="#4286E8" />
          <path d="M229.178 181.866L235.725 226.849C236.061 229.196 238.088 230.946 240.464 230.946H242.345C245.261 230.946 247.492 228.365 247.084 225.478L236.352 151.785C236.017 149.437 233.99 147.688 231.613 147.688H229.733C226.816 147.688 224.585 150.268 224.994 153.155L229.178 181.866Z" fill="#4547EB" />
          <path d="M181.756 155.734H137.983C136.919 155.734 136.102 156.697 136.262 157.747L136.554 159.555C136.685 160.4 137.414 161.013 138.275 161.013H182.047C183.112 161.013 183.928 160.05 183.768 159.001L183.476 157.192C183.345 156.347 182.616 155.734 181.756 155.734Z" fill="#4286E8" />
          <path d="M359.46 178.193C358.075 167.52 342.444 172.521 348.305 162.577C353.729 153.376 347.416 149.308 339.95 147.879C330.429 146.057 335.838 142.309 331.201 133.429C325.325 122.143 316.241 125.497 316.241 125.497C316.241 125.497 304.868 119.315 293.276 129.099C281.057 139.408 283.725 148.521 290.258 161.031C293.568 167.36 289.499 172.988 286.612 184.624C283.142 198.578 300.377 226.661 337.238 207.691C351.498 200.357 360.174 183.865 359.445 178.193H359.46Z" fill="#120878" />
          <path d="M308.546 181.108C308.546 181.108 302.917 181.706 297.187 187.436C293.337 191.286 274.484 228.803 274.484 228.803L257.089 175.523L244.359 176.5C244.359 176.5 258.707 262.179 269.862 262.34C280.419 262.485 313.926 207.019 313.926 207.019L308.546 181.093V181.108Z" fill="#EB9FA9" />
          <path d="M344.516 203.563L355.67 245.309L289.734 250.704L290.041 262.617C290.041 262.617 366.067 262.952 380.385 262.806C389.921 262.704 371.972 187.189 360.511 178.557C351.456 171.718 326.406 173.541 326.406 173.541L308.559 181.108C308.559 181.108 287.853 201.609 300.218 220.9C309.958 236.094 297.55 265.621 297.55 265.621L339.704 268.129L377.353 268.479L344.545 203.563H344.516Z" fill="#EB9FA9" />
          <path d="M302.431 249.664L304.794 249.227C307.054 239.355 307.462 225.868 302.3 219.379C292.093 206.533 302.606 187.884 308.497 181.133C307.549 182.081 288.142 202.057 300.186 220.896C305.945 229.892 304.531 241.601 302.417 249.664H302.431Z" fill="#A54F5A" />
          <path d="M289.91 253.461C282.94 253.723 275.475 256.217 271.99 260.314C271.217 261.218 271.873 262.632 273.069 262.632H290.027L289.925 253.461H289.91Z" fill="#FFB19E" />
          <path d="M326.404 159.514V173.599L313.791 188.049L313.718 187.889L310.277 180.54V172.637C303.978 171.748 298.422 166.98 296.935 160.156L295.156 150.415C295.156 150.415 304.561 149.424 312.041 141.812C312.041 141.812 314.287 145.939 317.509 149.132C319.857 151.465 323.094 152.034 324.333 153.302C325.981 154.994 326.579 157.21 326.404 159.514Z" fill="#FFB19E" />
          <path d="M322.947 147.321C322.947 147.321 322.465 141.387 320.234 136.327C317.654 130.495 314.023 123.656 306.484 123.641C306.484 123.641 324.798 120.798 327.86 146.286L322.961 147.336L322.947 147.321Z" fill="#EB9FA9" />
          <path d="M333.895 151.505C333.37 146.606 329.258 143.019 324.723 143.515C320.189 144.01 316.937 148.37 317.462 153.284C317.987 158.183 322.099 161.77 326.633 161.274C331.168 160.779 334.42 156.419 333.895 151.505Z" fill="#EB9FA9" />
          <path d="M328.194 160.397C323.819 160.864 319.868 157.423 319.357 152.699C318.891 148.324 321.545 144.402 325.409 143.469C325.19 143.469 324.957 143.469 324.723 143.498C320.189 143.994 316.937 148.353 317.462 153.267C317.987 158.167 322.099 161.754 326.633 161.258C328.033 161.112 329.302 160.587 330.381 159.8C329.695 160.106 328.952 160.31 328.179 160.397H328.194Z" fill="#A54F5A" />
          <path d="M330.732 151.72C330.47 149.343 328.487 147.608 326.285 147.841C324.083 148.075 322.508 150.203 322.771 152.58C323.033 154.957 325.016 156.692 327.218 156.459C329.42 156.225 330.995 154.097 330.732 151.72Z" fill="#A54F5A" />
          <path d="M322.193 166.656C321.668 167.342 318.679 171.104 316.288 173.116C315.325 173.918 314.815 175.113 314.815 176.353L313.707 187.886L310.266 180.538V172.664L310.353 172.576C310.353 172.576 318.3 171.366 322.208 166.656H322.193Z" fill="#F48F7A" />
          <path d="M316.827 166.056L316.695 165.254C321.303 164.466 324.657 158.269 324.7 158.211L325.415 158.59C325.269 158.853 321.828 165.195 316.827 166.041V166.056Z" fill="#A54F5A" />
          <path d="M317.686 165.592C317.584 164.834 316.432 164.426 315.134 164.659C313.836 164.907 312.874 165.709 312.976 166.467C313.078 167.226 314.23 167.634 315.528 167.401C316.826 167.153 317.788 166.351 317.686 165.592Z" fill="#A54F5A" />
          <path d="M256.047 175.857C256.047 175.857 257.84 161.116 256.222 160.576C254.603 160.037 252.985 166.336 252.985 166.336C252.985 166.336 246.146 153.038 241.48 154.467C236.8 155.91 245.403 176.368 245.403 176.368L256.047 175.872V175.857Z" fill="#FFB19E" />
          <path d="M302.406 249.582L354.33 245.237C356.109 245.091 357.363 243.429 357.027 241.679C355.103 231.968 349.562 204.132 349.241 204.964C348.833 205.97 354.461 237.727 347.841 240.935C343.306 243.137 302.421 249.582 302.421 249.582H302.406Z" fill="#A54F5A" />
          <path d="M337.718 403.191C337.339 403.279 336.989 403.497 336.727 403.862C333.417 408.455 330.486 409.549 324.697 410.321C324.347 410.365 323.998 410.496 323.604 410.686C324.056 410.015 325.981 406.851 324.654 404.008C323.152 400.8 321.344 398.467 321.344 398.467L329.815 393.422C329.815 393.422 335.006 399.415 337.718 403.191Z" fill="#FFB19E" />
          <path d="M343.991 413.956C342.49 415.385 318.329 428.595 312.584 431.92C311.884 432.328 310.455 433.072 310.207 432.299C309.799 431.103 320.253 410.937 324.701 410.325C330.489 409.538 333.435 408.459 336.73 403.851C337.415 402.889 338.859 402.889 339.515 403.88C341.833 407.394 345.202 412.789 343.991 413.941V413.956Z" fill="#13448C" />
          <path d="M297.855 265.561C297.855 265.561 239.209 292.755 237.649 311.609C236.264 328.377 322.701 405.089 322.701 405.089L336.364 399.46L289.062 323.201C289.062 323.201 339.178 298.5 351.426 268.755L297.855 265.547V265.561Z" fill="#120878" />
          <path d="M260.485 306.654C256.504 314.309 253.588 324.997 251.547 334.694C258.181 342.582 266.565 351.447 275.212 360.182C268.811 334.912 263.139 309.585 265.107 305.954C268.855 299.028 293.701 280.641 311.271 271.484C311.271 271.484 269.73 288.909 260.485 306.654Z" fill="#120878" />
          <path d="M303.176 418.941C302.797 418.839 302.389 418.853 301.981 419.043C296.848 421.434 293.757 420.953 288.318 418.81C287.997 418.678 287.618 418.606 287.195 418.591C287.91 418.226 291.147 416.404 291.366 413.269C291.628 409.74 291.191 406.809 291.191 406.809L301.047 406.547C301.047 406.547 302.651 414.319 303.162 418.926L303.176 418.941Z" fill="#FFB19E" />
          <path d="M303.378 432.11C301.366 432.635 272.845 432.315 266.211 432.402C265.394 432.402 264.782 431.688 264.928 430.886C265.161 429.646 284.131 417.15 288.316 418.798C293.755 420.941 296.846 421.437 301.979 419.031C303.058 418.521 304.297 419.235 304.384 420.416C304.691 424.616 304.997 431.688 303.378 432.11Z" fill="#13448C" />
          <path d="M377.118 268.361C377.118 268.361 382.032 301.577 352.257 309.976C328.781 316.61 303.629 319.979 303.629 319.979L305.437 414.246H289.777C289.777 414.246 261.037 313.446 265.105 305.937C269.728 297.407 306.283 271.525 321.914 266.859L377.118 268.347V268.361Z" fill="#4547EB" />
          <g style="mix-blend-mode:multiply" opacity="0.13">
            <path d="M303.629 319.996C303.629 319.996 328.797 316.613 352.258 309.993C382.032 301.58 377.118 268.379 377.118 268.379L358.688 267.883C353.147 279.796 335.139 309.279 291.469 312.457L301.355 414.278H305.423L303.615 320.01L303.629 319.996Z" fill="#0E367C" />
          </g>
          <path d="M109.875 432.698L103.328 432.654L130.58 268.864L137.171 268.82L109.875 432.698Z" fill="white" />
          <path d="M379.835 432.656L386.79 432.7L353.005 267L346.094 267.058L379.835 432.656Z" fill="#2D2D2D" />
          <path d="M135.372 277.904L137.165 268.82L130.575 268.864L128.781 277.904H135.372Z" fill="#E4EDF7" />
          <path d="M355.214 277.907L352.997 267L346.086 267.058L348.288 277.907H355.214Z" fill="#2D2D2D" />
          <path d="M392.762 262.523H97.2308C95.3935 262.523 93.9062 264.011 93.9062 265.848C93.9062 267.685 95.3935 269.172 97.2308 269.172H392.762C394.599 269.172 396.086 267.685 396.086 265.848C396.086 264.011 394.599 262.523 392.762 262.523Z" fill="#2D2D2D" />
          <path d="M275.982 117.347L268.196 72.2479C267.89 70.1628 266.096 68.6172 263.997 68.6172L191.543 69.4046C188.947 69.4046 186.964 71.7084 187.343 74.2601L194.182 113.819L197.638 136.215C197.827 137.396 199.358 137.746 200.029 136.74L209.244 122.859L271.783 122.174C274.378 122.174 276.361 119.87 275.982 117.318V117.347Z" fill="#120878" />
          <path d="M250.232 82.6172H208.238C207.509 82.6172 206.97 83.2588 207.086 83.9732L207.29 85.198C207.378 85.7667 207.874 86.1896 208.442 86.1896H250.436C251.165 86.1896 251.705 85.548 251.588 84.8335L251.384 83.6087C251.296 83.04 250.8 82.6172 250.232 82.6172Z" fill="white" />
          <path d="M251.63 93.7578H209.637C208.907 93.7578 208.368 94.3994 208.485 95.1139L208.689 96.3387C208.776 96.9073 209.272 97.3302 209.841 97.3302H251.834C252.563 97.3302 253.103 96.6886 252.986 95.9741L252.782 94.7493C252.695 94.1807 252.199 93.7578 251.63 93.7578Z" fill="white" />
          <path d="M241.628 105.859L222.191 105.889C221.462 105.889 220.923 106.53 221.039 107.245L221.243 108.469C221.331 109.038 221.827 109.461 222.395 109.461L241.832 109.432C242.561 109.432 243.101 108.79 242.984 108.076L242.78 106.851C242.692 106.282 242.197 105.859 241.628 105.859Z" fill="white" />
          <path d="M570.292 45.8833L579.931 3.46668C580.426 1.49822 579.333 0.0546875 577.35 0.0546875L508.906 0.798327C506.471 0.798327 503.744 2.95634 503.132 5.36223L494.675 42.5733L489.498 63.6431C489.221 64.7513 490.548 65.072 491.554 64.1389L505.45 51.0887L564.533 50.4472C566.968 50.4472 569.695 48.2891 570.307 45.8833H570.292Z" fill="#4042E2" />
          <path d="M558.074 13.8203H520.499C519.857 13.8203 519.128 14.4036 518.968 15.0451L518.705 16.1387C518.589 16.6491 518.88 17.0282 519.391 17.0282H556.966C557.608 17.0282 558.337 16.4449 558.497 15.8033L558.76 14.7098C558.876 14.1994 558.585 13.8203 558.074 13.8203Z" fill="white" />
          <path d="M555.348 23.7969H517.772C517.131 23.7969 516.402 24.3801 516.241 25.0217L515.979 26.1153C515.862 26.6256 516.154 27.0047 516.664 27.0047H554.24C554.881 27.0047 555.61 26.4215 555.771 25.7799L556.033 24.6863C556.15 24.176 555.858 23.7969 555.348 23.7969Z" fill="white" />
          <path d="M542.066 34.625L524.671 34.6542C524.029 34.6542 523.3 35.2374 523.14 35.879L522.877 36.9726C522.76 37.4829 523.052 37.862 523.562 37.862L540.958 37.8329C541.599 37.8329 542.328 37.2496 542.489 36.608L542.751 35.5145C542.868 35.0041 542.576 34.625 542.066 34.625Z" fill="white" />
          <path d="M180.391 117.028C181.325 117.815 182.739 116.999 182.52 115.788L173.232 62.2318C172.97 60.4675 171.453 59.1406 169.66 59.1406L108.171 59.8114C105.969 59.8114 104.292 61.7652 104.599 63.9378L111.204 102.199C111.466 103.963 112.983 105.29 114.776 105.29L162.121 104.765C164.381 104.736 166.569 105.523 168.304 106.952L180.377 116.999L180.391 117.028Z" fill="#EB9FA9" />
          <path d="M161.247 75.2266H119.254C118.525 75.2266 117.985 75.8681 118.102 76.5826L118.306 77.8074C118.393 78.3761 118.889 78.7989 119.458 78.7989H161.452C162.181 78.7989 162.72 78.1574 162.604 77.4429L162.399 76.2181C162.312 75.6494 161.816 75.2266 161.247 75.2266Z" fill="white" />
          <path d="M162.662 86.3672H120.668C119.939 86.3672 119.399 87.0088 119.516 87.7232L119.72 88.948C119.808 89.5167 120.303 89.9396 120.872 89.9396H162.866C163.595 89.9396 164.134 89.298 164.018 88.5835L163.813 87.3587C163.726 86.79 163.23 86.3672 162.662 86.3672Z" fill="white" />
          <path d="M504.532 206.467L504.299 214.895L499.239 410.632H479.015L461.095 242.905C461.095 242.905 461.08 242.92 461.08 242.949L438.305 299.494L453.848 410.617L446.368 410.676L434.003 410.792C434.003 410.792 397.025 299.903 397.769 292.714C398.527 285.54 426.29 207.167 426.29 207.167L504.518 206.438L504.532 206.467Z" fill="#1D54B5" />
          <path d="M506.491 85.3122L468.507 80.0922L467.603 79.9609L449.435 80.0338L449.275 80.0776L427.578 85.5018V207.531H506.491V85.3122Z" fill="#EB9FA9" />
          <path d="M571.508 109.02C571.508 109.02 574.264 91.7702 576.276 91.6827C578.273 91.5952 578.069 99.2357 578.069 99.2357C578.069 99.2357 590.113 86.4189 594.94 89.5684C599.751 92.7179 583.391 113.044 583.391 113.044L571.522 109.02H571.508Z" fill="#FFB19E" />
          <path d="M449.476 80.1365L451.532 214.895H423.113L421.101 178.005L383.409 177.393C379.486 177.524 376.585 173.791 377.678 170.029L396.459 104.735C398.646 97.0943 404.726 91.2181 412.425 89.2934L449.286 80.0781L449.476 80.1365Z" fill="#4547EB" />
          <path d="M584.6 113.601L548.045 188.694C545.727 192.908 539.734 192.996 537.255 188.898L508.647 141.495L507.218 214.897H476.86L468.359 80.1229L468.476 80.0938L507.087 85.4013C514.363 86.4949 520.647 91.1317 523.87 97.7661L543.394 138.039C543.875 139.031 545.217 139.191 545.931 138.345L570.777 108.673L584.6 113.616V113.601Z" fill="#4547EB" />
          <path d="M420.93 178.369H457.966L458.33 159.399L421.294 158.859L420.93 178.369Z" fill="#4286E8" />
          <path d="M458.192 173.134C468.646 172.755 479.815 169.022 485.05 162.869C486.217 161.498 485.225 159.398 483.432 159.398H458.031L458.192 173.134Z" fill="#FFB19E" />
          <path
            opacity="0.41"
            d="M443.763 179.14L443.792 178.542L421.133 178.367L423.116 214.893L429.882 184.637L443.763 179.14Z"
            fill="#13448C" />
          <g style="mix-blend-mode:multiply" opacity="0.32">
            <path d="M504.298 214.898L499.238 410.636H497.824L484.234 214.898H504.298Z" fill="#13087B" />
          </g>
          <path
            opacity="0.41"
            d="M458.279 159.267C458.279 159.267 408.032 162.913 408.353 161.95L417.073 131.898L417.204 132.35L418.064 153.318C418.181 156.161 455.654 158.524 458.279 159.267Z"
            fill="#13448C" />
          <path
            opacity="0.41"
            d="M548.062 188.69L584.617 113.597L584.442 113.539C580.564 113.524 546.56 184.637 542.974 186.416C538.905 188.457 508.664 141.477 508.664 141.477L537.272 188.88C539.751 192.977 545.744 192.875 548.062 188.676V188.69Z"
            fill="#13448C" />
          <path d="M436.312 410.606C431.952 419.544 411.218 424.05 411.218 424.05C411.218 424.05 409.716 426.689 412.093 430.013C414.455 433.352 436.268 431.311 439.01 430.699C441.751 430.086 443.632 427.87 443.632 427.87C443.632 427.87 445.469 429.867 446.49 430.363C447.511 430.859 453.081 429.736 453.081 429.736C454.393 426.178 453.081 412.618 452.701 410.445L436.312 410.591V410.606Z" fill="#13448C" />
          <path d="M497.346 410.606C501.706 419.544 522.44 424.05 522.44 424.05C522.44 424.05 523.942 426.689 521.566 430.013C519.203 433.352 497.39 431.311 494.649 430.699C491.907 430.086 490.027 427.87 490.027 427.87C490.027 427.87 488.189 429.867 487.169 430.363C486.148 430.859 480.578 429.736 480.578 429.736C479.266 426.178 480.578 412.618 480.957 410.445L497.346 410.591V410.606Z" fill="#13448C" />
          <g style="mix-blend-mode:multiply" opacity="0.32">
            <path d="M438.308 299.507L453.852 410.63L446.372 410.688C441.764 386.76 425.637 306.753 426.235 301.738C426.935 295.745 460.063 244.652 461.084 242.961L438.308 299.507Z" fill="#120878" />
          </g>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M468.413 80.2091C465.657 82.4108 459.008 87.0914 459.008 87.0914C459.008 87.0914 452.243 82.4546 449.443 80.2236L449.414 64.1406H468.413V80.2091Z"
            fill="#FFB19E" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M468.429 64.1396V70.8615C462.932 75.4254 454.941 75.44 449.43 70.9344V64.125H468.429V64.1396Z"
            fill="#FFB19E" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M437.824 53.7437H480.532L481.188 41.8601C490.622 37.8649 483.55 15.3516 483.55 15.3516C484.09 20.7903 469.392 20.9799 463.574 20.0759C457.771 19.1718 453.776 21.534 453.776 21.534C453.776 21.534 435.258 17.5387 436.351 43.4932C436.512 47.4155 437.037 50.7254 437.824 53.7437Z"
            fill="#120878" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M476.017 41.8341V52.5512C476.017 57.1297 474.136 61.5186 470.797 64.6536C470.257 65.1348 469.703 65.6597 469.149 66.1846C463.389 71.6088 454.393 71.6088 448.633 66.1846L447 64.6536C443.661 61.5332 441.766 57.1589 441.766 52.5804V44.4004C441.766 44.4004 446.709 41.0905 453.518 32.9688C453.518 32.9688 461.042 40.1864 476.017 41.8195V41.8341Z"
            fill="#FFB19E" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M468.429 66.8125V70.8806C462.932 75.4445 454.941 75.4591 449.43 70.9535V66.8708C454.956 71.391 462.932 71.3764 468.429 66.8125Z"
            fill="#F48F7A" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M446.006 55.0027C449.331 49.6952 443.731 44.096 438.409 47.4059C438.001 47.6684 437.637 48.0183 437.374 48.4412C434.05 53.7633 439.649 59.3625 444.971 56.038C445.379 55.7755 445.744 55.4256 446.006 55.0027Z"
            fill="#FFB19E" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M480.109 55.0036C483.346 49.8127 478.097 44.3594 472.892 47.1881C472.206 47.5672 471.638 48.1359 471.258 48.8212C468.43 54.0121 473.883 59.2759 479.074 56.0389C479.482 55.7764 479.847 55.4265 480.109 55.0036Z"
            fill="#FFB19E" />
          <path d="M479.946 43.6964H478.327V38.0681C478.327 28.7361 469.812 21.1394 459.343 21.1394H458.541C448.071 21.1394 439.556 28.7361 439.556 38.0681V43.6964H437.938V38.0681C437.938 27.8758 447.182 19.5938 458.541 19.5938H459.343C470.701 19.5938 479.946 27.8758 479.946 38.0681V43.6964Z" fill="#A54F5A" />
          <path d="M478.61 40.6953C476.087 40.6953 474.031 42.7513 474.031 45.2738V53.4392C474.031 55.9618 476.087 58.0177 478.61 58.0177C481.132 58.0177 483.188 55.9618 483.188 53.4392V45.2738C483.188 42.7513 481.132 40.6953 478.61 40.6953Z" fill="#EB9FA9" />
          <path d="M478.613 40.6953C478.132 40.6953 477.68 40.7974 477.242 40.9286C479.094 41.5119 480.45 43.2324 480.45 45.2738V53.4392C480.45 55.4806 479.094 57.1866 477.242 57.7844C477.68 57.9302 478.132 58.0177 478.613 58.0177C481.135 58.0177 483.191 55.9618 483.191 53.4392V45.2738C483.191 42.7513 481.135 40.6953 478.613 40.6953Z" fill="#A54F5A" />
          <path d="M439.297 40.6953C436.775 40.6953 434.719 42.7513 434.719 45.2738V53.4392C434.719 55.9618 436.775 58.0177 439.297 58.0177C441.82 58.0177 443.876 55.9618 443.876 53.4392V45.2738C443.876 42.7513 441.82 40.6953 439.297 40.6953Z" fill="#EB9FA9" />
          <path d="M439.3 40.6953C438.819 40.6953 438.367 40.7974 437.93 40.9286C439.781 41.5119 441.138 43.2324 441.138 45.2738V53.4392C441.138 55.4806 439.781 57.1866 437.93 57.7844C438.367 57.9302 438.819 58.0177 439.3 58.0177C441.823 58.0177 443.879 55.9618 443.879 53.4392V45.2738C443.879 42.7513 441.823 40.6953 439.3 40.6953Z" fill="#A54F5A" />
          <path d="M466.23 63.1369L466.172 62.2328C471.392 61.8975 475.883 55.4088 475.927 55.3359L476.685 55.8463C476.495 56.1233 471.902 62.7723 466.245 63.1369H466.23Z" fill="#A54F5A" />
          <path d="M467.25 62.731C467.221 61.8707 465.996 61.2729 464.524 61.3895C463.051 61.5062 461.87 62.2936 461.899 63.1539C461.928 64.0141 463.153 64.612 464.626 64.4953C466.098 64.3787 467.279 63.5913 467.25 62.731Z" fill="#A54F5A" />
          <path d="M488.932 103.711H422.602C419.001 103.711 416.172 106.831 416.318 110.622L418.053 153.316C418.199 156.757 421.086 159.542 424.498 159.542H487.022C490.419 159.542 493.321 156.757 493.467 153.316L495.202 110.622C495.362 106.831 492.534 103.711 488.917 103.711H488.932Z" fill="#120878" />
          <path d="M488.932 103.711H422.602C420.779 103.711 419.175 104.498 418.023 105.781C418.563 105.621 419.132 105.504 419.729 105.504H486.059C489.661 105.504 492.489 108.625 492.344 112.416L490.608 155.11C490.55 156.699 489.865 158.142 488.844 159.251C491.41 158.463 493.364 156.13 493.481 153.316L495.216 110.622C495.376 106.831 492.548 103.711 488.932 103.711Z" fill="#1D54B5" />
          <path d="M462.8 132.744C462.8 128.588 459.432 125.234 455.291 125.234C451.149 125.234 447.781 128.603 447.781 132.744C447.781 136.885 451.149 140.253 455.291 140.253C459.432 140.253 462.8 136.885 462.8 132.744Z" fill="#4286E8" />
        </svg>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "pay-sec2",
    "settings": [
      {
        "type": "image_picker",
        "id": "pay-sec2-image",
        "label": "Select Image"
      },
      {
        "type": "text",
        "id": "pay-sec2-title",
        "label": "Enter Title",
        "default": "Refund Policy"
      },
      {
        "type": "text",
        "id": "pay-sec2-para-1",
        "label": "Enter Text",
        "default": "As for flower condition, although we say as a rule of thumb that between 4-5 days is a good time frame for flower freshness, this can vary. There are many factors when it comes to the lifespan of a flower such as it's verity, room temperature where it is kept, how often the stems are re-cut and water is changed. We must advise that any bouquets that are delivered in water bubbles must be removed instantly and placed into a vase with water."
      },
      {
        "type": "text",
        "id": "pay-sec2-para-2",
        "label": "Enter Text",
        "default": "Once the flowers leave our florist, we have no control over these factors. However if you experience flowers wilting before this 4-5 day period, please send us a photo and we will review them on a case by case basis."
      }, {
        "type": "text",
        "id": "pay-sec2-para-3",
        "label": "Enter Text",
        "default": "If we believe that the flowers don't meet our high standards then again, we will replace them free of charge."
      }, {
        "type": "text",
        "id": "pay-sec2-para-4",
        "label": "Enter Text",
        "default": "At our discretion, any replacement or refund will be proportionate to the problems that have occurred."
      }, {
        "type": "text",
        "id": "pay-sec2-para-5",
        "label": "Enter Text",
        "default": "If you need to return an item, simply login to your account, view the order using the Complete Orders link under the My Account menu and click the Return Item(s) button. We'll notify you via e-mail of your refund once we've received and processed the returned item. Alternatively please feel free to give us a call on 020 7724 7525."
      }, {
        "type": "text",
        "id": "pay-sec2-para-6",
        "label": "Enter Text",
        "default": "Your statutory rights are not affected when purchasing vases and teddy bears as add ons or as a stand alone gift. You may return these items in the same condition as when purchased."
      }, {
        "type": "text",
        "id": "pay-sec2-btn-1",
        "label": "Enter Button Text",
        "default": "Call Now"
      }, {
        "type": "text",
        "id": "pay-sec2-btn-2",
        "label": "Enter Button Text",
        "default": "Email Us"
      }
    ]
  }
{% endschema %}