{{ 'pay-sec1.css' | asset_url | stylesheet_tag }}

<div class="pay-sec1-container">
  <h1 class="pay-main-heading">{{ section.settings.pay-sec-header }}</h1>
  <div class="pay-sec1-container-inner">
    <div class="pay-sec1-container-inner-left">
      <h2>{{ section.settings.pay-sec1-title }}</h2>
      <p class="pay-body-text">
        {{ section.settings.pay-sec1-para1 }}
      </p>
      <p class="pay-body-text">
        {{ section.settings.pay-sec1-para2 }}
      </p>
      <p class="pay-body-text-spaced">
        {{ section.settings.pay-sec1-para3 }}
      </p>
      <button class="read-all">
        {{ section.settings.pay-sec1-btn }}
      </button>

    </div>
    <div class="pay-sec1-container-inner-right">
      {% if section.settings.pay-sec1-image != blank %}
        <img class="pay-sec1-svg src="{{ section.settings.pay-sec1-image | img_url }}" alt="">
      {% else %}
        <svg
          class="pay-sec1-svg"
          width="480"
          height="531"
          viewBox="0 0 480 531"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2519_1804)">
            <path
              opacity="0.37"
              d="M388.386 184.912L353.485 188.677C348.602 189.205 344.434 185.177 344.795 180.279L352.426 76.4612C367.056 75.9964 381.486 75.6587 395.412 75.4219V177.091C395.412 181.11 392.383 184.482 388.388 184.914L388.386 184.912Z"
              fill="#FCEFEF" />
            <path d="M374.084 166.921C373.977 168.789 372.429 170.228 370.583 170.228C370.515 170.228 370.444 170.225 370.377 170.221C368.44 170.109 366.962 168.449 367.076 166.513L372.339 75.9044C374.698 75.8452 377.04 75.7926 379.38 75.7422L374.084 166.921Z" fill="#FCEFEF" />
            <path d="M117.396 246.852C117.396 246.852 138.812 295.716 169.257 303.281C175.149 304.428 182.071 303.926 185.167 305.849C188.684 308.035 184.406 313.927 182.696 318.396C180.986 322.862 180.322 320.772 179.561 319.345C178.8 317.92 182.001 313.42 177.817 311.646C173.636 309.872 174.903 312.596 176.868 314.942C178.833 317.286 178.769 320.897 178.642 321.088C178.515 321.279 175.346 319.694 172.369 318.301C169.814 317.106 168.382 313.817 168.025 312.905C161.997 312.203 124.265 306.268 108.226 266.591C108.226 266.591 106.682 227.199 117.396 246.854V246.852Z" fill="#EB9FA9" />
            <path d="M25.2708 514.955L24.852 524.63C24.7731 526.465 23.4531 528.013 21.6507 528.364C18.6072 528.954 13.7044 529.699 8.84095 529.565C6.70746 529.506 5.166 527.469 5.65277 525.39C6.54082 521.599 8.2577 515.879 11.1038 512.37L21.734 511.541C23.6987 511.388 25.3563 512.989 25.2708 514.958V514.955Z" fill="url(#paint0_linear_2519_1804)" />
            <path d="M99.7762 396.211L102.394 406.626C102.394 406.626 101.131 467.954 101.96 492.38C102.09 496.211 103.372 499.906 105.629 503.002L117.399 519.153L89.6262 505.556L88.8456 502.357L92.7267 496.042L81.7172 428.31C81.0704 424.33 81.5834 420.249 83.1951 416.555L87.8831 405.808L99.7784 396.213L99.7762 396.211Z" fill="#EB9FA9" />
            <path d="M119.335 521.476L110.862 522.136C109.277 522.259 107.725 521.647 106.659 520.467C103.749 517.242 97.7544 510.971 95.1254 511.002C91.5842 511.041 93.0116 523.531 93.0116 523.531L91.036 523.684L87.3216 508.318C86.3875 504.452 88.032 500.42 91.4044 498.312C91.4044 498.312 92.6739 504.204 97.2457 506.5C101.817 508.794 115.956 517.183 115.956 517.183C115.956 517.183 117.579 516.821 119.407 517.005C122.117 517.279 122.054 521.268 119.337 521.481L119.335 521.476Z" fill="url(#paint1_linear_2519_1804)" />
            <path d="M63.7984 404.06C63.7984 404.06 33.8067 473.573 29.3994 489.253C24.9921 504.933 24.0251 517.804 24.0427 519.012C24.0712 520.902 21.8719 522.891 15.421 523.393C12.0925 523.652 10.3559 522.446 9.45686 521.216C8.68941 520.168 8.54689 518.791 9.02928 517.585C10.744 513.305 16.1775 499.633 18.107 493.474C20.4072 486.119 24.0339 453.326 26.5292 441.827C29.0245 430.329 31.8837 417.843 45.6868 405.472C45.6868 405.472 54.9925 394.818 63.7984 404.06Z" fill="#EB9FA9" />
            <path d="M77.5088 292.924C83.5891 253.743 58.8906 233.776 58.8906 233.776C66.269 225.499 77.4299 219.232 85.9879 215.268C93.7172 211.685 102.848 212.963 109.294 218.533C116.387 224.661 124.104 233.34 123.071 241.464C121.977 250.064 109.288 293.538 109.288 293.538C109.288 293.538 95.0547 301.684 77.511 292.924H77.5088Z" fill="url(#paint2_linear_2519_1804)" />
            <path d="M58.8581 313.54C61.6844 302.12 77.5047 292.922 77.5047 292.922C95.0485 301.682 109.281 293.536 109.281 293.536C109.281 293.536 113.583 305.944 112.213 317.897C110.842 329.847 102.392 406.626 102.392 406.626C80.136 412.972 44.6406 406.49 44.6406 406.49C57.0491 379.794 56.0295 324.959 58.8559 313.54H58.8581Z" fill="url(#paint3_linear_2519_1804)" />
            <path d="M87.2895 191.057L82.4941 224.791C82.0161 227.767 84.6407 227.081 87.5504 226.296C92.3152 225.006 98.4021 222.643 100.191 218.718C100.373 218.319 100.446 217.878 100.472 217.439L101.851 194.199C101.961 192.355 100.836 190.662 99.095 190.046L92.7625 187.809C90.3242 186.948 87.7017 188.504 87.2917 191.057H87.2895Z" fill="#EB9FA9" />
            <path d="M70.9792 249.04C69.7403 250.685 50.9511 273.035 45.5702 297.979C40.1894 322.921 41.1322 336.603 41.1322 336.603C41.1322 336.603 46.8069 344.839 45.4979 348.08C44.2502 351.174 42.7702 356.875 40.2574 357.436C37.7445 357.997 35.9114 353.316 36.293 348.356C36.6723 343.398 33.0368 341.346 34.0213 338.349C34.9993 335.364 28.0331 256.011 58.4238 234.086C58.5729 233.979 58.7308 233.882 58.8865 233.781C72.5864 238.73 72.9724 246.398 70.9792 249.04Z" fill="#EB9FA9" />
            <path d="M92.5943 164.298C92.5943 164.298 102.856 167.087 111.353 180.226C119.849 193.365 115.793 200.508 109.719 202.234C103.648 203.96 94.366 205.074 83.3477 197.333C72.3272 189.593 79.3153 161.141 92.5921 164.298H92.5943Z" fill="#EB9FA9" />
            <path d="M88.9252 188.955C88.9252 188.955 78.8279 169.416 96.9965 166.717L101.682 169.131C101.682 169.131 106.824 156.848 95.1305 152.894C83.4369 148.941 67.7372 155.986 65.0665 171.381C62.3958 186.776 66.4128 195.943 75.1266 201.96C83.8404 207.977 85.9563 199.535 85.9563 199.535C85.9563 199.535 80.8385 193.499 82.0818 189.731C83.3251 185.964 87.8683 189.694 87.8683 189.694L88.9274 188.953L88.9252 188.955Z" fill="url(#paint4_linear_2519_1804)" />
            <path d="M87.1908 191.514C87.1908 191.514 82.0599 181.441 77.6876 186.317C73.3154 191.196 83.0225 195.542 86.772 196.869L87.193 191.512L87.1908 191.514Z" fill="url(#paint5_linear_2519_1804)" />
            <path d="M73.7873 168.385C73.7873 168.385 38.5068 157.531 32.6984 194.331C26.8921 231.131 22.8795 242.928 14.1328 236.582C14.1328 236.582 15.5734 250.33 32.3695 244.186C75.9668 228.237 49.433 177.164 73.7873 168.385Z" fill="url(#paint6_linear_2519_1804)" />
            <path d="M201.239 177.416C246.206 177.416 282.659 140.964 282.659 95.9973C282.659 51.0307 246.206 14.5781 201.239 14.5781C156.273 14.5781 119.82 51.0307 119.82 95.9973C119.82 140.964 156.273 177.416 201.239 177.416Z" fill="#FCEFEF" />
            <path d="M198.201 147.174C194.366 147.424 190.799 145.641 188.814 142.453L155.477 88.9204C152.352 83.9035 154.036 77.0316 159.235 73.5737C164.429 70.118 171.172 71.3788 174.292 76.3935L197.412 113.553L227.919 51.4231C230.657 45.8471 237.233 43.2904 242.605 45.709C247.978 48.1275 250.113 54.6025 247.381 60.1742L207.959 140.53C206.154 144.209 202.565 146.742 198.587 147.141C198.458 147.154 198.331 147.165 198.201 147.174Z" fill="#EB9FA9" />
            <path d="M228.346 198.405L238.5 203.869C250.679 211.282 261.574 215.201 271.38 216.672C301.997 221.266 321.952 201.948 336.823 190.228C356.457 174.756 371.733 182.284 371.733 182.284L350.795 222.244C319.527 251.724 287.47 245.177 267.26 235.623C254.395 229.543 246.328 222.244 246.328 222.244C223.327 208.528 228.346 198.407 228.346 198.407V198.405Z" fill="#EB9FA9" />
            <path d="M198.435 212.708C199.09 210.529 200.702 208.766 202.814 207.917L223.421 199.631C223.421 199.631 223.732 196.989 219.066 195.193C214.4 193.397 215.492 188.172 215.492 188.172C215.492 188.172 221.864 191.079 231.196 195.691C236.531 198.328 239.526 202.984 241.114 206.487L235.809 213.465C223.109 217.28 210.258 218.01 197.297 216.495L198.437 212.708H198.435Z" fill="#EB9FA9" />
            <path d="M376.234 503.945C376.234 503.945 377.802 512.826 378.572 521.614C378.872 525.05 376.223 528.032 372.779 528.177C361.074 528.664 336.033 529.613 327.048 529.212C325.697 529.153 324.813 527.769 325.313 526.513C325.732 525.46 326.539 524.609 327.57 524.136L368.93 505.127L376.234 503.945Z" fill="url(#paint7_linear_2519_1804)" />
            <path d="M377.517 498.726L376.256 509.347C376.256 509.347 369.011 512.72 364.062 508.922L367.062 497.086L377.515 498.726H377.517Z" fill="url(#paint8_linear_2519_1804)" />
            <path d="M379.537 292.041C380.081 294.918 378.562 442.679 364.061 505.702C363.825 506.73 362.325 508.75 362.842 509.633C364.101 511.784 373.365 511.181 378.59 511.363C380.208 511.42 381.077 509.521 381.533 507.91C385.677 493.287 405.536 420.024 408.128 350.038C411.022 271.836 408.128 347.376 408.128 347.376L409.415 297.832L379.537 292.039V292.041Z" fill="#100774" />
            <path d="M423.812 508.578C423.812 508.578 426.309 513.06 428.726 524.973C429.162 527.124 427.66 529.183 425.474 529.398C421.608 529.777 415.659 530.266 410.892 530.233C408.695 530.218 406.981 528.306 407.246 526.124C407.774 521.776 409.419 514.643 414.499 509.082L423.812 508.578Z" fill="url(#paint9_linear_2519_1804)" />
            <path d="M426.008 494.914L423.063 510.975C423.063 510.975 420.151 513.142 414.391 511.572L415.796 494.289L426.005 494.914H426.008Z" fill="url(#paint10_linear_2519_1804)" />
            <path d="M433.082 297.803C444.94 372.504 431.387 488.162 426.519 509.679C426.221 510.996 425.203 512.005 423.923 512.226C421.75 512.601 418.174 512.908 414.648 511.841C413.433 511.472 412.58 510.328 412.53 509.01C411.876 491.615 413.052 384.829 402.003 342.626C401.443 340.488 400.191 338.622 398.459 337.337L380.275 322.517L379.938 290.562L433.08 297.803H433.082Z" fill="#100774" />
            <path d="M365.141 177.959C396.393 177.444 430.88 186.167 430.88 186.167C438.559 230.974 435.476 280.632 433.877 296.988C433.55 300.34 435.342 303.89 432.018 304.428C415.665 307.07 389.962 304.381 381.974 302.062C379.055 301.213 379.551 298.106 378.93 295.131C373.569 269.41 358.234 212.685 358.234 212.685C350.8 222.248 340.313 235.627 324.806 239.19C332.708 230.032 317.553 210.824 319.169 203.934C333.186 188.184 355.499 178.126 365.141 177.966V177.959Z" fill="url(#paint11_linear_2519_1804)" />
            <path d="M396.79 152.586L406.734 181.345C406.898 181.821 406.703 182.35 406.262 182.593C403.552 184.093 393.786 188.423 382.015 180.962C380.79 180.183 379.954 178.916 379.768 177.477L376.547 152.586H396.788H396.79Z" fill="#EB9FA9" />
            <path d="M375.16 125.953C375.16 125.953 364.24 146.51 365.639 154.811C367.038 163.115 380.574 162.519 392.39 155.774L400.648 133.579L375.158 125.953H375.16Z" fill="#EB9FA9" />
            <path d="M391.866 144.875C391.386 144.662 391.208 144.074 391.495 143.634C392.37 142.298 394.01 139.571 394.534 137.183C394.534 137.183 396.497 135.926 389.537 134.26C385.748 133.352 379.03 132.602 376.076 129.879C372.772 126.831 378.863 121.071 381.426 119.523C384.807 117.481 388.923 116.276 392.734 117.304C394.574 117.799 396.238 118.784 397.878 119.755C400.669 121.411 403.557 123.158 405.333 125.875C406.482 127.634 407.085 129.686 407.636 131.712C408.427 134.624 409.153 137.608 409.015 140.623C408.649 148.657 399.233 155.854 391.662 156.733C391.043 156.805 390.563 156.194 390.765 155.604L393.859 146.607C394.004 146.188 393.802 145.73 393.398 145.552L391.864 144.873L391.866 144.875Z" fill="#EB9FA9" />
            <path d="M390.626 146.149C390.626 146.149 398.402 140.815 398.97 145.307C399.537 149.8 391.968 151.813 388.219 150.14L390.626 146.149Z" fill="#EB9FA9" />
            <path d="M371.18 120.913C387.134 90.7791 428.481 118.155 409.238 143.54C394.931 134.026 378.764 119.885 371.18 120.913Z" fill="url(#paint12_linear_2519_1804)" />
            <path d="M396.092 133.675L367.444 132.789C366.716 132.767 366.052 132.364 365.699 131.728C363.134 127.095 359.378 124.141 354.683 122.521C354.089 122.315 354.212 121.44 354.839 121.398L372.402 120.203C372.422 120.203 372.442 120.203 372.461 120.203C381.215 120.876 388.964 126.143 396.355 133.041C396.601 133.272 396.43 133.688 396.092 133.677V133.675Z" fill="url(#paint13_linear_2519_1804)" />
            <path d="M427.332 231.779C409.841 212.142 411.613 197.023 431.356 186.141C431.356 186.141 464.082 208.377 469.463 236.568C463.279 237.024 452.027 238.632 441.015 244.192C438.594 230.88 427.332 231.779 427.332 231.779Z" fill="url(#paint14_linear_2519_1804)" />
            <path d="M389.317 251.989C389.317 251.989 426.06 272.754 438.457 255.024C441.031 251.343 441.647 247.683 441.012 244.194C452.025 238.634 463.276 237.024 469.46 236.57C471.082 245.069 470.225 254.11 465.23 263.244C443.513 302.97 384.453 261.05 384.453 261.05L389.317 251.989Z" fill="#EB9FA9" />
            <path d="M393.735 278.261L373.683 208.233C373.455 207.437 372.778 206.858 371.955 206.762C368.322 206.339 357.795 205.148 345.639 204.12C330.998 202.881 313.994 201.879 303.835 202.732C302.39 202.852 301.517 204.381 302.16 205.681C307.937 217.37 331.704 264.919 343.606 280.496C344.001 281.011 344.61 281.313 345.259 281.307L391.786 280.875C393.139 280.862 394.11 279.564 393.738 278.261H393.735Z" fill="url(#paint15_linear_2519_1804)" />
            <path d="M343.56 198.047L329.02 195.624C328.246 195.495 327.613 196.236 327.858 196.981L329.297 201.343C329.422 201.722 329.753 201.996 330.15 202.051L344.141 203.919C344.865 204.016 345.461 203.358 345.295 202.647L344.404 198.841C344.308 198.431 343.975 198.119 343.56 198.049V198.047Z" fill="#919191" />
            <path d="M354.444 210.357L353.246 204.118C353.126 203.494 352.611 203.02 351.977 202.956L322.612 199.976C321.623 199.876 320.832 200.781 321.064 201.748L322.93 209.521C323.079 210.144 323.621 210.593 324.259 210.624L352.955 212.069C353.889 212.115 354.619 211.275 354.444 210.357Z" fill="#919191" />
            <path d="M388.891 261.338C388.891 261.338 391.685 249.852 390.558 245.776C389.431 241.702 387.247 236.462 379.971 237.626C372.694 238.79 364.109 241.856 364.109 241.856C364.109 241.856 364.544 247.164 370.073 245.452L366.644 248.105C366.644 248.105 367.133 252.354 371.806 250.085L368.615 253.604C368.615 253.604 370.622 257.095 374.058 254.856C377.494 252.617 379.142 262.721 388.889 261.338H388.891Z" fill="#EB9FA9" />
            <path d="M400.531 217.617C402.825 217.801 422.224 218.424 422.224 218.424L421.441 237.954L411.392 243.623L400.531 237.954V217.619V217.617Z" fill="url(#paint16_linear_2519_1804)" />
            <path d="M398.993 217.617L422.183 218.424L423.13 225.917L411.062 229.052L398.234 223.336L398.993 217.617Z" fill="url(#paint17_linear_2519_1804)" />
          </g>
          <defs>
            <linearGradient
              id="paint0_linear_2519_1804"
              x1="25.7779"
              y1="519.999"
              x2="5.28584"
              y2="521.598"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#09005D" />
              <stop offset="1" stop-color="#1A0F91" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_2519_1804"
              x1="120.69"
              y1="508.83"
              x2="87.5301"
              y2="511.417"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#EB9FA9" />
              <stop offset="1" stop-color="#FCEFEF" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_2519_1804"
              x1="117.602"
              y1="212.994"
              x2="53.2291"
              y2="310.301"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#4F52FF" />
              <stop offset="1" stop-color="#4042E2" />
            </linearGradient>
            <linearGradient
              id="paint3_linear_2519_1804"
              x1="149.109"
              y1="275.808"
              x2="33.835"
              y2="415.033"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#09005D" />
              <stop offset="1" stop-color="#1A0F91" />
            </linearGradient>
            <linearGradient
              id="paint4_linear_2519_1804"
              x1="19.2993"
              y1="124.72"
              x2="109.493"
              y2="196.322"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#09005D" />
              <stop offset="1" stop-color="#1A0F91" />
            </linearGradient>
            <linearGradient
              id="paint5_linear_2519_1804"
              x1="106.321"
              y1="169.993"
              x2="63.4937"
              y2="208.387"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#FEBBBA" />
              <stop offset="1" stop-color="#FF928E" />
            </linearGradient>
            <linearGradient
              id="paint6_linear_2519_1804"
              x1="-10.0314"
              y1="161.668"
              x2="80.1619"
              y2="233.269"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#09005D" />
              <stop offset="1" stop-color="#1A0F91" />
            </linearGradient>
            <linearGradient
              id="paint7_linear_2519_1804"
              x1="344.409"
              y1="485.075"
              x2="353.636"
              y2="529.953"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#4F52FF" />
              <stop offset="1" stop-color="#4042E2" />
            </linearGradient>
            <linearGradient
              id="paint8_linear_2519_1804"
              x1="377.519"
              y1="503.907"
              x2="364.067"
              y2="503.907"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#FEBBBA" />
              <stop offset="1" stop-color="#FF928E" />
            </linearGradient>
            <linearGradient
              id="paint9_linear_2519_1804"
              x1="418.374"
              y1="487.412"
              x2="417.955"
              y2="531.869"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#4F52FF" />
              <stop offset="1" stop-color="#4042E2" />
            </linearGradient>
            <linearGradient
              id="paint10_linear_2519_1804"
              x1="426.008"
              y1="503.218"
              x2="414.393"
              y2="503.218"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#FEBBBA" />
              <stop offset="1" stop-color="#FF928E" />
            </linearGradient>
            <linearGradient
              id="paint11_linear_2519_1804"
              x1="205.99"
              y1="30.3165"
              x2="366.358"
              y2="201.658"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#4F52FF" />
              <stop offset="1" stop-color="#4042E2" />
            </linearGradient>
            <linearGradient
              id="paint12_linear_2519_1804"
              x1="-62.4234"
              y1="1.49481"
              x2="49.4983"
              y2="31.4361"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#4F52FF" />
              <stop offset="1" stop-color="#4042E2" />
            </linearGradient>
            <linearGradient
              id="paint13_linear_2519_1804"
              x1="797.586"
              y1="14.6074"
              x2="694.52"
              y2="42.1806"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#4F52FF" />
              <stop offset="1" stop-color="#4042E2" />
            </linearGradient>
            <linearGradient
              id="paint14_linear_2519_1804"
              x1="216.349"
              y1="-20.4112"
              x2="390.245"
              y2="165.385"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#4F52FF" />
              <stop offset="1" stop-color="#4042E2" />
            </linearGradient>
            <linearGradient
              id="paint15_linear_2519_1804"
              x1="316.335"
              y1="202.929"
              x2="406.907"
              y2="291.255"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#09005D" />
              <stop offset="1" stop-color="#1A0F91" />
            </linearGradient>
            <linearGradient
              id="paint16_linear_2519_1804"
              x1="414.67"
              y1="220.954"
              x2="450.599"
              y2="154.336"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#4F52FF" />
              <stop offset="1" stop-color="#4042E2" />
            </linearGradient>
            <linearGradient
              id="paint17_linear_2519_1804"
              x1="410.529"
              y1="222.645"
              x2="448.704"
              y2="159.769"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#4F52FF" />
              <stop offset="1" stop-color="#4042E2" />
            </linearGradient>
            <clipPath id="clip0_2519_1804">
              <rect
                width="480"
                height="530.233"
                fill="white" />
            </clipPath>
          </defs>
        </svg>
      {% endif %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "pay-sec1",
    "settings": [
      {
        "type": "text",
        "id": "pay-sec-header",
        "label": "Enter Header",
        "default": "Returns & Refund"
      },
      {
        "type": "text",
        "id": "pay-sec1-title",
        "label": "Enter Title",
        "default": "Return Policy"
      },
      {
        "type": "text",
        "id": "pay-sec1-para1",
        "label": "Enter Text",
        "default": "We have a 14 day return policy on all non-perishable items such as vases, unopened champagne boxes and soft toys. However due to the perishable nature of the flowers we will only accept returns and issue refunds if the following is true; Flower Station has made a mistake with your order or the flowers were severely damaged on delivery. Please read the following policy statement which applies to these cases."
      },
      {
        "type": "text",
        "id": "pay-sec1-para2",
        "label": "Enter Text",
        "default": "On the rare off-chance we have made a mistake with your order please notify us within a maximum of 2 days from your delivery along with pictures depicting the issue and showing the bouquet as a whole. Please forward to info@flowerstation.co.uk"
      }, {
        "type": "text",
        "id": "pay-sec1-para3",
        "label": "Enter Text",
        "default": "Once our team verifies the issue, we will organize a replacement instantly and cover the costs ourselves."
      }, {
        "type": "text",
        "id": "pay-sec1-btn",
        "label": "Enter Text",
        "default": "Read All Reviews"
      }, {
        "type": "image_picker",
        "id": "pay-sec1-image",
        "label": "Select Image"
      }
    ]
  }
{% endschema %}